<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 招投标管理系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("招投标系统首页", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("首页", "Index", "Home")</li>*@

                    @if (Request.IsAuthenticated && User.IsInRole("超级管理员"))
                    {
                        <li>@Html.ActionLink("用户管理", "Index", "UsersAdmin")</li>
                        <li>@Html.ActionLink("院区管理", "Index", "HospitalAdmin")</li>
                        <li>@Html.ActionLink("部门管理", "Index", "DepartmentAdmin")</li>
                        <li>@Html.ActionLink("科室管理", "Index", "SectionAdmin")</li>
                        <li>@Html.ActionLink("权限管理", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("权限组管理", "Index", "GroupsAdmin")</li>
                        <li>@Html.ActionLink("审批流程管理", "ApprovalSetList", "FlowSet", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("经费报销限额管理", "FundsThresholdList", "Statistic", new { area = "" }, null)</li>
                        <li>@*@Html.ActionLink("接入系统管理", "Index", "AccessSystem")*@</li>
                    }
                    @*<li>@Html.ActionLink("科研系统", "Index", "Approval", new { area = "" }, null)</li>*@
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 四川华邦伟业工程项目管理有限公司 </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
