@model ScientificResearch.ViewModel.ERPNWorkToDoViewModel

@{
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>申请书</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/ajaxfileupload.js"></script>
    <script src="~/Scripts/Custom/AboutApprovalNode.js"></script>
    <script src="~/Scripts/Custom/form.js"></script>
    <style type="text/css">
        .approval-step {
            width: auto;
            height: auto;
            margin-top: 10px;
            text-align: center;
        }

            .approval-step span {
                display: inline-block;
                width: 150px;
                height: 30px;
                line-height: 30px;
                text-align: center;
            }

                .approval-step span.notapproval {
                    background: Silver;
                }

                .approval-step span.isapproval {
                    background: Yellow;
                }

                .approval-step span.hasapproval {
                    background: #47de13;
                }
    </style>
    <script type="text/javascript">

        $(function () {
            var isrejected = $("#IsRejected").val();
            if (isrejected == "False") {
                $("#Drop1364262284").attr("disabled", "disabled");
                $("#Drop968600384").attr("disabled", "disabled");
                $("#TextArea683159807").attr("readonly", true);
            }
            else if (isrejected == "True") {
                $("#Drop1364262284").removeAttr("disabled");
                $("#Drop968600384").removeAttr("disabled");
                $("#TextArea683159807").removeAttr("readonly");
            }
        });

    </script>
    <script type="text/javascript">
        var currentnode = "@ViewBag.CurrentNodeSerils";
        var allcount = parseInt("@ViewBag.allCount");
        $(function () {
            fileListInitializeAgree(currentnode, allcount);
            //shenPiyiJianListinitialize(currentnode, allcount);
        });

        $(function () {
            $("#btnUploadFile").click(function () {
                if ($("#uploadFile").val().length > 0) {
                    ajaxFileUploadAgree(currentnode, allcount);
                }
                else {
                    alert("请选择要上传的文件！！");
                }
            })
        })

        $(function () {
            $("#Approval").click(function () {
                var url1 = "/Approval/ApplicationAgree?flag=Approval";
                submitForm("form", url1);
            })
            $("#Reject").click(function () {
                var url2 = "/Approval/ApplicationAgree?flag=Reject";
                submitForm("form", url2);
            })
        })

    </script>
    <script type="text/javascript">
        $(function () {
            var isRightPersonApproval = "@ViewBag.isRightPersonApproval";
            AuthorityAboutSeeOrClick(isRightPersonApproval);
        });
    </script>
</head>
<body>
    <!-- Project Step Wizard -->
    @Html.Partial("_ScienceResearchWizardPartial")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal widget-body">

            <table class="table">
                <input type="hidden" id="Freeze" value="@Model.NWorkToDoID" />
               
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.NWorkToDoID)
                @*审批，未被驳回，继续审批或驳回*@


                @Html.HiddenFor(model => model.WorkName)
                @Html.HiddenFor(model => model.FormID)

                @Html.HiddenFor(model => model.WorkFlowID)

                @Html.HiddenFor(model => model.UserName)

                @Html.HiddenFor(model => model.TimeStr)

                @Html.HiddenFor(model => model.FuJianList)

                @Html.HiddenFor(model => model.JieDianID)

                @Html.HiddenFor(model => model.OKUserList)

                @Html.HiddenFor(model => model.LateTime)

                @Html.HiddenFor(model => model.ApplicationStatus)

                @Html.HiddenFor(model => model.ProjectStatus)

                @Html.HiddenFor(model => model.BeiYong2)

                @Html.HiddenFor(model => model.FormKeys)

                @Html.HiddenFor(model => model.FormValues)

                @Html.HiddenFor(model => model.IsTemporary)

                @Html.HiddenFor(model => model.IsRejected)

                @Html.HiddenFor(model => model.IsDeleted)

                @Html.HiddenFor(model => model.IsLocked)

                @Html.HiddenFor(model => model.ShenPiYiJian)

                <tr>
                    <td>
                        项目名称：
                    </td>
                    <td colspan="5">
                        <input id="WenHao" name="WenHao" value="@Model.WenHao" type="text" class="customTextBox" />
                    </td>
                </tr>
                <tr id="insert-tr">
                    <td>
                        项目编号:
                    </td>
                    <td colspan="5">
                        <input id="BeiYong1" name="BeiYong1" value="@Model.BeiYong1" type="text" class="customTextBox" />
                    </td>
                </tr>

                @Html.Raw(Model.FormContent)
                @Html.HiddenFor(model => model.FormContent)
                @Html.ValidationMessageFor(model => model.FormContent)

                <tr>
                    <th colspan="2">
                        @Html.DisplayNameFor(model => model.BidSectionList.FirstOrDefault().SectionNumber)
                    </th>
                    <th colspan="2">
                        @Html.DisplayNameFor(model => model.BidSectionList.FirstOrDefault().SectionName)
                    </th>
                </tr>
                @{int number = 1;}
                @foreach (var item in Model.BidSectionList)
                {
                    string itemSectionName = "item" + number + "SectionName";
                    string itemSectionNumber = "item" + number + "SectionNumber";

                    <tr>
                        <td colspan="2"><input readonly="readonly" type="text" style="width:100px;" name="@itemSectionName" id="@itemSectionName" value="@item.SectionName" /></td>
                        <td colspan="2"><input readonly="readonly"  type="text" style="width:100px;" name="@itemSectionNumber" id="@itemSectionNumber" value="@item.SectionNumber" /></td>
                    </tr>
                    number++;
                }
                @*<tr>
                    <td>
                        @Html.LabelFor(model => model.ShenPiYiJian)
                    </td>
                    <td colspan="5">
                        <input type="text" id="SingleShenPiYiJian" name="SingleShenPiYiJian"/>
                    </td>
                </tr>*@
                @*<tr>
                    <td>审批意见列表：</td>
                    <td colspan="5">
                        <div id="ShenPiYiJianList">
                        </div>
                    </td>
                </tr>*@

                @Html.HiddenFor(model => model.ShenPiUserList)
                @Html.HiddenFor(model => model.StateNow)
                @Html.HiddenFor(model => model.JieDianName)
                
                @if (@Model.JieDianName == "结束")
                {

                }
                else
                {
                    @*<tr>
                        <td colspan="6">
                            <p><input type="file" id="uploadFile" name="file" onchange="CheckFileSize()" /></p>
                            <input type="button" id="btnUploadFile" value="上传" />
                            <div id="uploadingfile">

                            </div>
                        </td>

                    </tr>*@
                    <tr>
                        <td colspan="3" style="vertical-align:middle; text-align:center;">
                            <input type="submit" value="通过" name="Approval" id="Approval" class="btn btn-blue" />
                        </td>
                        <td colspan="3" style="vertical-align:middle; text-align:center;">
                            <input type="submit" value="驳回" name="Reject" id="Reject" class="btn btn-blue" />
                        </td>
                    </tr>
                }
            </table>

        </div>
    }
    <input type="hidden" value=@Model.FuJianList id="thisPageFuJian">
    <!-- Application Approval Steps Time Line -->
    @*@Html.Partial("_ApproveWizardPartial")*@
</body>

</html>
<script>
    $("#selectForSingleUser").hide();
    $("#select").hide();
</script>
<script>@Html.Raw(ViewBag.PiLiangSet);</script>