@model ScientificResearch.ViewModel.ERPNWorkToDoViewModel
@using System.Collections.Generic;
@using ScientificResearch.Utility.Enums;
@{
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}

<script src="~/Scripts/ajaxfileupload.js"></script>
<script src="~/Scripts/Custom/AboutApprovalNode.js"></script>
<script src="~/Scripts/Custom/forms.js"></script>
<script type="text/javascript">

    var fuJian = "";
    $(function () {
        areadHaveFillIn();
    });
    $(function () {
        $("#btnUploadFile").click(function () {
            if ($("#uploadFile").val().length > 0) {
                ajaxFileUploadFillIn();
            }
            else {
                alert("请选择要上传的文件！！");
            }
        })
    });


    //$(function () {
    //    function show() {
    //        var mydate = new Date();
    //        var str = "" + mydate.getFullYear() + "年";
    //        str += (mydate.getMonth() + 1) + "月";
    //        str += mydate.getDate() + "日";
    //        return str;
    //    }
    //    $(".in").val(show());
    //});



    $(function () {

        $("#Save").click(function () {
            var url1 = "/Approval/PreSubmitApplication?flag=Save";
            //alert(url1);
            submitForm("form", url1);
        })
        $("#Reported").click(function () {
            var url2 = "/Approval/PreSubmitApplication?flag=Reported";
            // alert(url2)
            submitForm("form", url2);
        })
    })
</script>

<script>
    $(document).ready(function () {
        $("#usersText").kendoAutoComplete({
            dataTextField: "Name",
            filter: "contains",
            minLength: 1,
            dataSource: {
                type: "json",
                contentType: "application/json",
                serverFiltering: true,
                transport: {
                    read: "/Approval/AllUserList"
                }
            }
        });
    });


    //$(document).ready(function () {
    //    $("#usersText").kendoAutoComplete({
    //        dateTextFiled: "Name",
    //        filter: "contains",
    //        minLength: 1,
    //        dataSource: {
    //            type: "post",
    //            serverFiltering: true,
    //            transport: {
    //                dataType: "json",
    //                contentType: "application/json",
    //                read: "/Approval/AllUserList"
    //            }
    //        }
    //        //dateTextFiled: "Name",
    //        //filter: "contains",
    //        //minLength: 1,
    //        //dataSource: {
    //        //    transport: {
    //        //        read: {
    //        //            type: "post",
    //        //            url: "/Approval/AllUserList",
    //        //            dataType: "json",
    //        //            contentType: "application/json",
    //        //        }
    //        //    }
    //        //}
    //    });
    //});
</script>
<style type="text/css">
    .tdcss {
        width: 100px;
    }
</style>



<div id="treeviewwindow" style="width:300px;height:400px;">
    @Html.Partial("_SelectUserPartial")
</div>
<div id="treeviewWindowForSingleUser" style="width: 300px; height: 400px;">
    @*<div class="demo-section k-header">
            <input id="usersText" style="width: 150px" />
        </div>*@
    @Html.Partial("_SelectSingleUserPartial")
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @*<div><b>填写申请书</b> -> @Model.WorkName</div>*@
        @Html.ValidationSummary(true)
        <input id="BeiYong1" name="BeiYong1" value="@Model.BeiYong1" type="hidden" class="customTextBox" />

        <table id="data" class="table">
            <tr>
                <td class="tdcss">
                    @Html.LabelFor(model => model.WenHao)
                </td>
                <td colspan="5">
                    @Html.EditorFor(model => model.WenHao, new { htmlAttributes = new { @class = "customTextBox" } })
                    @Html.ValidationMessageFor(model => model.WenHao)
                </td>
            </tr>
           
           
            @Html.Raw(Model.FormContent)
            @Html.HiddenFor(model => model.FormContent)
            @Html.ValidationMessageFor(model => model.FormContent)
        </table>
        <table class="table">
            <tr>
                <td colspan="4">
                    <input type="file" id="uploadFile" name="file" onchange="CheckFileSize()" />
                </td>
            </tr>
            <tr>
                <td colspan="1">
                    <input type="button" value="上传" id="btnUploadFile" />
                </td>
                <td colspan="1">
                    <div id="areadyuploadfile"></div>
                </td>
                <td colspan="1">
                    <p id="fuJian_Save_P"></p>
                </td>
                <td colspan="1">
                    <div id="table_save"></div>
                </td>
            </tr>

            @if (Model.IsTemporary != null)
                {
                    if (Model.IsTemporary == true)
                    {
                    <tr>
                        <td colspan="2" style="vertical-align:middle; text-align:center;">
                            <input type="submit" value="上&nbsp&nbsp&nbsp报" name="Reported" id="Reported" class="btn btn-blue" />
                        </td>
                        <td colspan="2" style="vertical-align:middle; text-align:center;">
                            已保存
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="4" style="vertical-align:middle; text-align:center;">
                            已上报
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2" style="vertical-align:middle; text-align:center;">
                        <div> <input type="submit" value="保存并上报" name="Reported" class="btn btn-blue" id="Reported" /></div>
                    </td>
                    <td colspan="2" style="vertical-align:middle; text-align:center;">
                        <div><input type="submit" value="保&nbsp&nbsp&nbsp存" name="Save" id="Save" class="btn btn-blue" /></div>
                    </td>
                </tr>
            }

        </table>

        @Html.HiddenFor(model => model.FormID, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.WorkFlowID, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.TimeStr, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.FuJianList)

        @Html.HiddenFor(model => model.ShenPiYiJian)

        @Html.HiddenFor(model => model.JieDianID, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.JieDianName, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.ShenPiUserList)

        @Html.HiddenFor(model => model.OKUserList)

        @Html.HiddenFor(model => model.StateNow)

        @Html.HiddenFor(model => model.LateTime)

        @Html.HiddenFor(model => model.BeiYong2)

        @Html.HiddenFor(model => model.ApplicationId)

        @Html.HiddenFor(model => model.ApplicationStatus)

        @Html.HiddenFor(model => model.NWorkToDoID)
    </div>
}

<style>
    .table .wid {
        width: 108px;
    }
</style>
@*<script>@Html.Raw(ViewBag.PiLiangSet)</script>*@
<script>
    $(document).ready(function () {
        $("#Date222222222").kendoDateTimePicker({
            format: "yyyy-MM-dd HH:mm",
            timeFormat: "HH:mm" //24小时制格式
        });
        $("#Date222222222").attr("readonly", true);
    });
    $("#item1CreatedTime").kendoDateTimePicker(
        {
            format: "yyyy-MM-dd HH:mm",
            timeFormat: "HH:mm" //24小时制格式
        }
    );
</script>