@model ScientificResearch.ViewModel.ERPNWorkToDoViewModel

@{
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}

<script src="~/Scripts/ajaxfileupload.js"></script>
<script src="~/Scripts/Custom/AboutApprovalNode.js"></script>
<script src="~/Scripts/Custom/form.js"></script>
<script type="text/javascript">
    $(function () {
        areadHaveFillIn();
    });

    $(function () {
        $("#btnUploadFile").click(function () {
            if ($("#uploadFile").val().length > 0) {
                ajaxFileUploadFillIn();
            }
            else {
                alert("请选择要上传的文件！！");
            }
        })
    })
</script>
<script type="text/javascript">
    $(function () {
        var wheatherHiddenBtn = "@ViewBag.wheatherHiddenBtn";
        if (wheatherHiddenBtn == "Yes") {
            $("input[name='Reported']").hide();
            $("input[name='Save']").hide();
            $("#uploadFile").hide();
            $("#btnUploadFile").hide();
        }
        else {
        }
    });

    $(function () {
        $("#Reported").click(function () {
            var url1 = "/PaperPublish/Conclusions?flag=Reported";
            submitForm("form", url1);
        })
        $("#Save").click(function () {
            var url2 = "/PaperPublish/Conclusions?flag=Save";
            submitForm("form", url2);
        })
    })
</script>
<style type="text/css">
    input[type="text"] {
        width: 150px;
        height: 24px;
    }

    textarea {
        margin: 0px;
        height: 180px;
        width: 737px;
    }
</style>

<!-- Project Step Wizard -->
@Html.Partial("_PaperPublishWizardPartial")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal widget-body">
        <input type="hidden" id="Freeze" value="@Model.ApplicationId" />
        <table class="table">
            @Html.ValidationSummary(true)
            @{var formValues = Model.FormValues.Split(ScientificResearch.Utility.Constants.Constant.SharpChar);}

            @*@if (formValues.Count() > 3)
            {
                <tr>
                    <td>
                        论文名称：
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.WenHao)
                    </td>
                </tr>
                <tr>
                    <td>
                        刊物名称：
                    </td>
                    <td>
                        @formValues[0]
                    </td>
                </tr>
                <tr>
                    <td>
                        第一作者：
                    </td>
                    <td>
                        @formValues[1]
                    </td>
                </tr>
                <tr>
                    <td>
                        投稿开始时间：
                    </td>
                    <td>
                        @formValues[2]
                    </td>
                </tr>
                <tr>
                    <td>
                        投稿结束时间：
                    </td>
                    <td>
                        @formValues[3]
                    </td>
                </tr>
            }*@
            @Html.HiddenFor(model => model.NWorkToDoID)

            @Html.HiddenFor(model => model.WorkName)

            @Html.HiddenFor(model => model.NWorkToDoID)

            @Html.HiddenFor(model => model.ApplicationId)

            @Html.HiddenFor(model => model.FormID)

            @Html.HiddenFor(model => model.WorkFlowID)

            @Html.HiddenFor(model => model.UserName)

            @Html.HiddenFor(model => model.TimeStr)

            @Html.HiddenFor(model => model.FuJianList)

            @Html.HiddenFor(model => model.ShenPiYiJian)

            @Html.HiddenFor(model => model.JieDianID)

            @Html.HiddenFor(model => model.JieDianName)

            @Html.HiddenFor(model => model.ShenPiUserList)

            @Html.HiddenFor(model => model.OKUserList)

            @Html.HiddenFor(model => model.StateNow)

            @Html.HiddenFor(model => model.LateTime)

            @Html.HiddenFor(model => model.BeiYong1)

            @Html.HiddenFor(model => model.BeiYong2)

            @Html.Raw(Model.FormContent)
            @Html.HiddenFor(model => model.FormContent)
            @Html.ValidationMessageFor(model => model.FormContent)

            @if (ViewBag.act == "save")
            {
                <tr>
                    <td>论文扫描件：</td>
                    <td colspan="1">
                        <p><input type="file" id="uploadFile" name="file" onchange="CheckFileSize()" /></p>
                        <input type="button" value="上传" id="btnUploadFile" />
                        <div id="areaduploadfile"></div>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle; text-align:center;" colspan="2">
                        <input type="submit" value="保存并上报" name="Reported" id="Reported" class="btn btn-blue" />
                    </td>
                    <td style="vertical-align:middle; text-align:center;" colspan="3">
                      已保存
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>论文扫描件：</td>
                    <td colspan="1">
                        <p><input type="file" id="uploadFile" name="file" onchange="CheckFileSize()" /></p>
                        <input type="button" value="上传" id="btnUploadFile" />
                        <div id="areaduploadfile"></div>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle; text-align:center;" colspan="2">
                        <input type="submit" value="保存并上报" name="Reported" id="Reported" class="btn btn-blue" />
                    </td>
                    <td style="vertical-align:middle; text-align:center;" colspan="3">
                        <input type="submit" value="保&nbsp&nbsp&nbsp存" name="Save" id="Save" class="btn btn-blue" />
                    </td>
                </tr>
            }
        </table>
    </div>
}

<script>
    $(document).ready(function () {
        $("#Date2540389493").kendoDatePicker();
        $("#Date2540389493").attr("readonly", true);
    });
</script>
@*@Html.Raw(ViewBag.PiLiangSet);*@
<script>@Html.Raw(ViewBag.PiLiangSet);</script>