@model ScientificResearch.ViewModel.ERPNWorkToDoViewModel

@{
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}

<script src="~/Scripts/ajaxfileupload.js"></script>
<script src="~/Scripts/Custom/AboutApprovalNode.js"></script>
<script src="~/Scripts/Custom/forms.js"></script>
<script type="text/javascript">
    $(function () {
        areadHaveFillIn();
    });

    $(function () {
        $("#btnUploadFile").click(function () {
            if ($("#uploadFile").val().length > 0) {
                ajaxFileUploadFillIn();
            }
            else {
                alert("请选择要上传的文件！！");
            }
        })
    })

    $(function () {
        function show() {
            var mydate = new Date();
            var str = "" + mydate.getFullYear() + "年";
            str += (mydate.getMonth() + 1) + "月";
            str += mydate.getDate() + "日";
            return str;
        }
        $(".in").val(show());
    });

    $(function () {
        $("input[name='Reported'],input[name='Save'] ").click(function () {
            var errorMessage="";
            if ($("#WenHao").val().trim() == "") {
                errorMessage =errorMessage+ "论文名称不能为空！";
            }
            //if ($("#Text1978713851").val().trim() == "") {
            //    errorMessage = errorMessage + "刊物名称不能为空！";
            //}
            if ($("#Text1783445882").val().trim()=="")
            {
                errorMessage =errorMessage+ "第一作者不能为空！";
            }
            if ($("#Date1362114152").val().trim()=="")
            {
                errorMessage =errorMessage+ "投稿开始时间不能为空！";
            }
            if ($("#Date256038949").val().trim()=="")
            {
                errorMessage =errorMessage+ "投稿结束时间不能为空！";
            }
            if ($("#Text309804476").val().trim()=="")
            {
                errorMessage =errorMessage+ "基金资助方不能为空！";
            }
            
            if (errorMessage == "") {
               
            }
            else {
                alert(errorMessage);
                return false;
            }
        });
    });

    $(function () {

        $("#Save").click(function () {
            var url1 = "/PaperPublish/SubmitApplication?flag=Save";
            //alert(url1);
            submitForm("form", url1);
        })
        $("#Reported").click(function () {
            var url2 = "/PaperPublish/SubmitApplication?flag=Reported";
            // alert(url2)
            submitForm("form", url2);
        })
    })
</script>

<style type="text/css">
    .tdcss {
        width: 110px;
    }
</style>


@using (Html.BeginForm("SubmitApplication", "PaperPublish", FormMethod.Post, new { id = "formId", novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()

    <div>
        @*<div><b>填写申请书</b> -> @Model.WorkName</div>*@
        @Html.ValidationSummary(true)

        <table id="data" class="table">
            <tr>
                <td>
                    论文名称：
                </td>
                <td colspan="5">
                    @Html.EditorFor(model => model.WenHao, new { htmlAttributes = new { @class = "customTextBox" } })
                    @Html.ValidationMessageFor(model => model.WenHao)
                </td>
            </tr>
            <tr>
                <td>
                    论文编号：
                </td>
                <td>
                    <input  id="BeiYong1" name="BeiYong1" value="@Model.BeiYong1" type="text" class="customTextBox" />
                </td>
                <td colspan="5"></td>
            </tr>

            @Html.Raw(Model.FormContent)
            @Html.HiddenFor(model => model.FormContent)
            @Html.ValidationMessageFor(model => model.FormContent)

            <tr>
                <td colspan="6">
                    <input type="file" id="uploadFile" name="file" onchange="CheckFileSize()" />
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <input type="button" value="上传" id="btnUploadFile" />
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <div id="areadyuploadfile"></div>
                </td>
                <td colspan="2">
                    <p id="fuJian_Save_P"></p>
                </td>
                <td colspan="2">
                    <div id="table_save"></div>
                </td>
            </tr>

            @if (Model.IsTemporary != null)
            {
                if (Model.IsTemporary == true)
                {
                    <tr>
                        <td colspan="3" style="vertical-align:middle; text-align:center;">
                            已保存
                        </td>
                        <td colspan="3" style="vertical-align:middle; text-align:center;">
                            <input type="submit" value="上&nbsp&nbsp&nbsp报" id="Reported" name="Reported" class="btn btn-blue" />
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="6" style="vertical-align:middle; text-align:center;">
                            已上报
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" style="vertical-align:middle; text-align:center;">
                        <div><input type="submit" value="保&nbsp&nbsp&nbsp存" name="Save" id="Save" class="btn btn-blue" /></div>
                    </td>
                    <td colspan="3" style="vertical-align:middle; text-align:center;">
                        <div> <input type="submit" value="保存并上报" name="Reported" id="Reported" class="btn btn-blue" /></div>
                    </td>
                </tr>
            }

        </table>

        @Html.HiddenFor(model => model.FormID, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.WorkFlowID, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.TimeStr, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.FuJianList)

        @Html.HiddenFor(model => model.ShenPiYiJian)

        @Html.HiddenFor(model => model.JieDianID, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.JieDianName, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.ShenPiUserList)

        @Html.HiddenFor(model => model.OKUserList)

        @Html.HiddenFor(model => model.StateNow)

        @Html.HiddenFor(model => model.LateTime)

        @Html.HiddenFor(model => model.BeiYong2)

        @Html.HiddenFor(model => model.ApplicationId)

        @Html.HiddenFor(model => model.ApplicationStatus)

        @Html.HiddenFor(model => model.NWorkToDoID)
    </div>
}

<script>
    $(document).ready(function () {
        //$("#CreatedTime").kendoDatePicker();

        function startChange() {
            var startDate = start.value(),
            endDate = end.value();

            if (startDate) {
                startDate = new Date(startDate);
                startDate.setDate(startDate.getDate());
                end.min(startDate);
            } else if (endDate) {
                start.max(new Date(endDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        function endChange() {
            var endDate = end.value(),
            startDate = start.value();

            if (endDate) {
                endDate = new Date(endDate);
                endDate.setDate(endDate.getDate());
                start.max(endDate);
            } else if (startDate) {
                end.min(new Date(startDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        var start = $("#Date1362114152").kendoDatePicker({
            change: startChange,
            format: "yyyy/MM/dd"
        }).data("kendoDatePicker");

        var end = $("#Date256038949").kendoDatePicker({
            change: endChange,
            format: "yyyy/MM/dd"
        }).data("kendoDatePicker");

        start.max(end.value());
        end.min(start.value());
        $("#Date1362114152").attr("readonly", true);
        $("#Date256038949").attr("readonly",true);
        //刊物名称下拉列表的值
        function LoadManagzineNameList(){
            $.ajax({
                url:"/PaperPublish/LoadMagazineNameList",
                type:"get",
                success: function(data){
                    $("#Drop1978713851").html(data);
                    $('#Drop1978713851 option:eq(0)').attr('selected',true);
                        }
                    })
        }

        LoadManagzineNameList();
    });
</script>

<script>@Html.Raw(ViewBag.PiLiangSet)</script>