@model IEnumerable<ScientificResearch.ViewModel.ERPRiZhiViewModel>

@{
    //Layout = "~/Views/Shared/_PopUpLayout.cshtml";
    Layout = null;
}

<div id="AreadyDoWindow">
  
</div>
<script type="text/javascript">
    function OpenAreadyDoWindow(id)
    {
        $("#AreadyDoWindow").kendoWindow({
            position: {
                top: 150, // or "100px"
                left: "13%"
            },
            draggable: true,
            title:"已办",
            visible: false,
            actions: [
                    "Pin",
                    "Close",
                   // "Minimize",
                 // "Maximize"
            ],
            resizable: false,
            close: function(e) {
                parent.location.reload();//刷新页面
            }
        });

        $.ajax({
            url:"/PaperPublish/ReturnStateValue?id=" + id,
            type:"post",
            success:function(data){
                if (data != null) {
                    // $("#MaxWindow").html(data);

                    var k = data;
                    //判断返回的状态来控制弹出框第一个打开的页面
                    //申请书已填写未审核、科室主任已经审批申请书、科教科已经审批申请书、科教科已经审批申请书、超级管理员审批已经审批申请书
                    if(data=="AplicationWriting")
                    {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="1600" height="750" style="border:0px" src="/PaperPublish/SubmitApplication?id=' + id + '">项目申请书</iframe>');
                    }
                    else if (data=="ApplicationRejected" || data == "ApplicationApproving")//申请书已提交和待审批中
                    {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="1600" height="750" style="border:0px" src="/PaperPublish/ApplicationAgree?id=' + id + '">项目申请书</iframe>');
                    }
                    else if (data == "ApplicationApproved"||data=="ProjectEstablishing")//全部通过审批
                    {
                        //为申请书iframe的src赋值id是ERPNWorkToDo的ID
                        $("#AreadyDoWindow").append(' <iframe id="application" width="1600" height="750" style="border:0px" src="/PaperPublish/ProjectEstablish?id=' + id + '">项目申请书</iframe>');
                    }else if (data == "ProjectEstablished" || data == "ContractSigning")//申请书已提交和待审批中
                    {
                        $("#AreadyDoWindow").append(' <iframe id="process" width="1600" height="750" style="border:0px" src="/PaperPublish/Conclusions?id=' + id + '">论文登记</iframe>');
                    }
                        //else if (data == "ContractSigned" || data == "ProjectProcessing")//申请书已提交和待审批中
                        //{
                        //    $("#processwindow").append(' <iframe id="process" width="1600" height="750" style="border:0px" src="/PaperPublish/ProcessRecordList?id=' + id + '">过程记录</iframe>');
                        //}
                    else if (data == "ConcludeUnWrite" || data == "ConcludeUnSubmit" )//申请书已提交和待审批中
                    {
                        $("#AreadyDoWindow").append(' <iframe id="process" width="1600" height="750" style="border:0px" src="/PaperPublish/Conclusions?id=' + id + '">论文登记</iframe>');
                    }
                    else if (data == "ProjectConcluding" || data == "ProjectConcluded" || data == "ConcludeRejected")//申请书已提交和待审批中
                    {
                        $("#AreadyDoWindow").append(' <iframe id="process" width="1600" height="750" style="border:0px" src="/PaperPublish/ConclusionsAgree?id=' + id + '">项目结案</iframe>');
                    }
                }
                else {
                    alert("发生异常！");
                }
            }
        });
        $("#AreadyDoWindow").data("kendoWindow").center().open();
    }
</script>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
           申请人
        </th>
        <th>
            操作
        </th>
        <th>
            时间
       </th>
    </tr>
    
    @foreach (var item in Model)
{
   <tr onclick="OpenAreadyDoWindow(@item.FKApplicationID)">
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoSomething)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStr)
        </td>
    </tr>
        <tr>
                @Html.HiddenFor(modelItem => item.FkFormName)
          
                @Html.HiddenFor(modelItem => item.FKAction)
           
                @Html.HiddenFor(modelItem => item.FKApplicationID)
           
                @Html.HiddenFor(modelItem => item.NotificationContent)
        </tr>
           
    }

</table>

