@model ScientificResearch.ViewModel.ERPNWorkToDoViewModel

@{
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}

<script src="~/Scripts/ajaxfileupload.js"></script>
<script src="~/Scripts/Custom/SplitStrings.js"></script>
<script type="text/javascript">
    var fuJian = "";
    // 判断选择的文件的大小是否超过限制100M
    function CheckFileSize() {
        //var file = $("#uploadFile");
        //$("#uploadFile").val().length
        var file = document.getElementById("uploadFile");
        var fileSize = file.files.item(0).size / (1024 * 1024);
        if (fileSize > 100) {
            alert("上传的文件限制在100M，请重新选择要上传的文件！");
            document.getElementById("uploadFile").value = "";
        }
    }

    // 上传进度百分比
    function progressFunction(evt) {
        var progressBar = $("#progressBar");
        var percentageDiv = $("#percentage");

        if (evt.lengthComputable) {
            progressBar.max = evt.total;
            progressBar.value = evt.loaded;
            percentageDiv.innerHTML = Math.round(evt.loaded / evt.total * 100) + "%";
        }
    }

    $(function () {
        $("#btnUploadFile").click(function () {
            if ($("#uploadFile").val().length > 0) {
                ajaxFileUpload();
            }
            else {
                alert("请选择要上传的文件！！");
            }
        })
    })

    function ajaxFileUpload() {
        $.ajaxFileUpload
        (
            {
                url: '/FileService/Upload', //用于文件上传的服务器端请求地址
                type: 'post',
                data: { Id: '123', name: 'lunis' }, //此参数非常严谨，写错一个引号都不行
                secureuri: false, //一般设置为false
                fileElementId: 'uploadFile', //文件上传空间的id属性  <input type="file" id="uploadFile" name="uploadFile" />
                dataType: 'json', //返回值类型 一般设置为json
                success: function (data, status) //服务器成功响应处理函数
                {
                    if (data.isSuccessful) {
                        alert("文件上传成功！");
                        fuJian = $("#FuJianList").val();
                        $("#areadyuploadfile").append("<p><a href=/FileService/Download?fileName=" + data.name + ">" + data.name + "</a></p>");
                        //附件路径
                        fuJian = fuJian + data.Name + "\\\\" + data.name + ";";
                        $("#FuJianList").attr("value", fuJian);
                    } else {
                        alert(data.name + "上传失败，请重新操作");
                    }

                    if (typeof (data.error) != 'undefined') {
                        if (data.error != '') {
                            alert(data.error);
                        }
                    }
                },
                error: function (data, status, e) //服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )

        return false;
    }
    $(function () {
        function show() {
            var mydate = new Date();
            var str = "" + mydate.getFullYear() + "年";
            str += (mydate.getMonth() + 1) + "月";
            str += mydate.getDate() + "日";
            return str;
        }
        $(".in").val(show());
    });


    $(document).ready(function () {
        filename = "";
        //如果数据库的FuJianList有值
        if ($("#FuJianList").val() != undefined) {
            filename = $("#FuJianList").val();
        }
        var fujian = "";
        var fujian = filesOfSomeone(filename);
        if (fujian[0] != "") {
            fuJians = fujian[0].split(";");//以分号(;)分隔字符串(申请附件)
            $("#fuJian_Save_P").text("申请人 " + fuJians[0].split("\\")[0] + " 附件:");
            var length = fuJians.length;//获取申请附件的个数
            for (var i = 0; i < length - 1; i++) {
                $("#table_save").append("<p><a href=/FileService/Download2?Path=" + fuJians[i] + ">" + fuJians[i].split("\\")[2] + "</a></p>");
            }
        }
    });
</script>

<div id="treeviewwindow" style="width:200px;height:400px;">
    @Html.Partial("_SelectUserPartial")
</div>
<div id="treeviewWindowForSingleUser" style="width:200px;height:400px;">
    @Html.Partial("_SelectSingleUserPartial")
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @*<div><b>填写申请书</b> -> @Model.WorkName</div>*@
        @Html.ValidationSummary(true)

        <table id="data" class="table">
            <tr>
                <td>
                    @Html.LabelFor(model => model.WenHao)
                </td>
                <td colspan="5">
                    @Html.EditorFor(model => model.WenHao, new { htmlAttributes = new { @style = "width:150px; height: 24px" } })
                    @Html.ValidationMessageFor(model => model.WenHao)
                </td>
            </tr>
            <tr>
                <td>
                    项目编号:
                </td>
                <td>
                    <input readonly="readonly" id="BeiYong1" name="BeiYong1" value="@Model.BeiYong1" style="width: 150px; height: 24px; color: #BBB; " />
                </td>
                <td colspan="5"></td>
            </tr>





            @Html.Raw(Model.FormContent)
            @Html.HiddenFor(model => model.FormContent)
            @Html.ValidationMessageFor(model => model.FormContent)




            <tr>
                <td colspan="6">
                    <input type="file" id="uploadFile" name="file" onchange="CheckFileSize()" />
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <input type="button" value="上传" id="btnUploadFile" />
                </td>
            </tr>


            <tr>
                <td colspan="2">
                    <div id="areadyuploadfile"></div>
                </td>
                <td colspan="2">
                    <p id="fuJian_Save_P"></p>
                </td>
                <td colspan="2">
                    <div id="table_save"></div>
                </td>
            </tr>


            @if (Model.IsTemporary != null)
            {
                if (Model.IsTemporary == true)
                {
                    <tr>
                        <td colspan="3" style="vertical-align:middle; text-align:center;">
                            已保存
                        </td>
                        <td colspan="3" style="vertical-align:middle; text-align:center;">
                            <input type="submit" value="上&nbsp&nbsp&nbsp报" name="Reported" class="btn btn-blue" />
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="6" style="vertical-align:middle; text-align:center;">
                            已上报
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" style="vertical-align:middle; text-align:center;">
                        <div><input type="submit" value="保&nbsp&nbsp&nbsp存" name="Save" id="Save" class="btn btn-blue" /></div>
                    </td>
                    <td colspan="3" style="vertical-align:middle; text-align:center;">
                        <div> <input type="submit" value="保存并上报" name="Reported" class="btn btn-blue" /></div>
                    </td>
                </tr>
            }



        </table>


        @Html.HiddenFor(model => model.FormID, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.WorkFlowID, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.TimeStr, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.FuJianList)

        @Html.HiddenFor(model => model.ShenPiYiJian)

        @Html.HiddenFor(model => model.JieDianID, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.JieDianName, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.ShenPiUserList)

        @Html.HiddenFor(model => model.OKUserList)

        @Html.HiddenFor(model => model.StateNow)

        @Html.HiddenFor(model => model.LateTime)

        @Html.HiddenFor(model => model.BeiYong2)

        @Html.HiddenFor(model => model.ApplicationId)

        @Html.HiddenFor(model => model.ApplicationStatus)

        @Html.HiddenFor(model => model.NWorkToDoID)
    </div>
}
