@model ScientificResearch.ViewModel.ERPNWorkToDoViewModel

@{
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}

<script src="~/Scripts/ajaxfileupload.js"></script>
<script src="~/Scripts/Custom/AboutApprovalNode.js"></script>
<script src="~/Scripts/Custom/forms.js"></script>
<script type="text/javascript">
    var fuJian = "";
    $(function () {
        areadHaveFillIn();
    });
    $(function () {
        $("#btnUploadFile").click(function () {
            if ($("#uploadFile").val().length > 0) {
                ajaxFileUploadFillIn();
            }
            else {
                alert("请选择要上传的文件！！");
            }
        })
    })


    $(function () {
        function show() {
            var mydate = new Date();
            var str = "" + mydate.getFullYear() + "年";
            str += (mydate.getMonth() + 1) + "月";
            str += mydate.getDate() + "日";
            return str;
        }
        $(".in").val(show());
    });

    $(function () {
        $("input[name='Reported'],input[name='Save'] ").click(function () {
            var errorMessage = "";
            if ($("#WenHao").val().trim() == "") {
                errorMessage = errorMessage + "项目名称不能为空！";
            }
            if ($("#Text1783445882").val().trim() == "") {
                errorMessage = errorMessage + "项目负责人不能为空！";
            }
            if ($("#Text1885232041").val().trim() == "") {
                errorMessage = errorMessage + "学科带头人不能为空！";
            }
            if ($("#Text309804476").val().trim() == "") {
                errorMessage = errorMessage + "项目参与人员不能为空！";
            }
            if (errorMessage == "") {

            }
            else {
                alert(errorMessage);
                return false;
            }
        });
    });

    $(function () {

        $("#Save").click(function () {
            var url1 = "/GoodSubject/ApplicationRejected?flag=Save";
            //alert(url1);
            submitForm("form", url1);
        })
        $("#Reported").click(function () {
            var url2 = "/GoodSubject/ApplicationRejected?flag=Reported";
            // alert(url2)
            submitForm("form", url2);
        })
    })
</script>

<div id="treeviewwindow" style="width:300px;height:400px;">
    @Html.Partial("_SelectUserPartial")
</div>
<div id="treeviewWindowForSingleUser" style="width:300px;height:400px;">
    @Html.Partial("_SelectSingleUserPartial")
</div>
<div id="treeviewWindowForSingleUserTwo" style="width:300px;height:400px;">
    @Html.Partial("_SelectSingleUserTwoPartial")
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.NWorkToDoID)
    <div>
        @*<div><b>填写申请书</b> -> @Model.WorkName</div>*@
        @Html.ValidationSummary(true)

        <table id="data" class="table">
            <tr>
                <td>
                    @Html.LabelFor(model => model.WenHao)
                </td>
                <td colspan="5">
                    @Html.EditorFor(model => model.WenHao, new { htmlAttributes = new { @class = "customTextBox" } })
                    @Html.ValidationMessageFor(model => model.WenHao)
                </td>
            </tr>
            <tr>
                <td>
                    项目编号:
                </td>
                <td>
                    <input readonly="readonly" id="BeiYong1" name="BeiYong1" value="@Model.BeiYong1" type="text" class="customTextBox" />
                </td>
                <td colspan="5"></td>
            </tr>





            @Html.Raw(Model.FormContent)
            @Html.HiddenFor(model => model.FormContent)
            @Html.ValidationMessageFor(model => model.FormContent)




            <tr>
                <td colspan="6">
                    <input type="file" id="uploadFile" name="file" onchange="CheckFileSize()" />
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <input type="button" value="上传" id="btnUploadFile" />
                </td>
            </tr>


            <tr>
                <td colspan="2">
                    <div id="areadyuploadfile"></div>
                </td>
                <td colspan="2">
                    <p id="fuJian_Save_P"></p>
                </td>
                <td colspan="2">
                    <div id="table_save"></div>
                </td>
            </tr>


            @if (Model.IsRejected == true && Model.IsTemporary == false)
            {
                <tr>
                    <td colspan="3" style="vertical-align:middle; text-align:center;">
                        <div><input type="submit" value="保&nbsp&nbsp&nbsp存" name="Save" id="Save" class="btn btn-blue" /></div>
                    </td>
                    <td colspan="3" style="vertical-align:middle; text-align:center;">
                        <div> <input type="submit" value="保存并上报" name="Reported" id="Reported" class="btn btn-blue" /></div>
                    </td>
                </tr>

            }

            else if (Model.IsTemporary == true && Model.IsRejected == false)
            {
                <tr>
                    <td colspan="3" style="vertical-align:middle; text-align:center;">
                        已保存
                    </td>
                    <td colspan="3" style="vertical-align:middle; text-align:center;">
                        <input type="submit" value="上&nbsp&nbsp&nbsp报" name="Reported" id="Reported" class="btn btn-blue" />
                    </td>
                </tr>
            }

            else if (Model.IsTemporary == false && Model.IsRejected == false)
            {

                <script>@Html.Raw(ViewBag.PiLiangSet);</script>

                <tr>
                    <td colspan="6" style="vertical-align:middle; text-align:center;">
                        已上报
                    </td>
                </tr>
            }



        </table>


        @Html.HiddenFor(model => model.FormID, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.WorkFlowID, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.TimeStr, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.FuJianList)

        @Html.HiddenFor(model => model.ShenPiYiJian)

        @Html.HiddenFor(model => model.JieDianID, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.JieDianName, new { @readOnly = "readOnly " })

        @Html.HiddenFor(model => model.ShenPiUserList)

        @Html.HiddenFor(model => model.OKUserList)

        @Html.HiddenFor(model => model.StateNow)

        @Html.HiddenFor(model => model.LateTime)

        @Html.HiddenFor(model => model.BeiYong2)

        @Html.HiddenFor(model => model.ApplicationId)

        @Html.HiddenFor(model => model.ApplicationStatus)

        @Html.HiddenFor(model => model.NWorkToDoID)
    </div>
}