@model ScientificResearch.ViewModel.ERPNWorkToDoViewModel

@{
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}
<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/Custom/AboutApprovalNode.js"></script>
    <script src="~/Scripts/ajaxfileupload.js"></script>
    <script src="~/Scripts/Custom/form.js"></script>
    <script type="text/javascript">

        var fuJian = "";
        $(function () {
            $("#btnUploadFile").click(function () {
                if ($("#uploadFile").val().length > 0) {
                    ajaxFileUploadFillIn();
                }
                else {
                    alert("请选择要上传的文件！！");
                }
            })
        })


    </script>

    <script type="text/javascript">
        $(function () {
            $("input[name='Reported'],input[name='Save'] ").click(function () {
                var errorMessage = "";
                if ($("#TextArea1266765043").val().trim() == "") {
                    errorMessage = errorMessage + "合同简述不能为空！";
                }

                if (errorMessage == "") {

                }
                else {
                    alert(errorMessage);
                    return false;
                }
            });
        });

        $(function () {
            $("#Text1009653833,#Text307349525,#Date609234174").attr("readonly", true);
        });


        $(function () {
            $("#Reported").click(function () {
                var url1 = "/GoodSubject/SignContract?flag=Reported";
                submitForm("form", url1);
            })
            $("#Save").click(function () {
                var url2 = "/GoodSubject/SignContract?flag=Save";
                submitForm("form", url2);
            })
        })
    </script>
    <style type="text/css">
        input[type="text"] {
            width: 150px;
            height: 24px;
        }

        textarea {
            margin: 0px;
            height: 230px;
            width: 767px;
        }
    </style>
</head>

<body>
    <!-- Project Step Wizard -->
    @Html.Partial("_GoodSubjectWizardPartial")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal widget-body">

            <input type="hidden" id="Freeze" value="@Model.ApplicationId" />
            <table class="table">
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.NWorkToDoID)

                @Html.HiddenFor(model => model.WorkName)

                @Html.HiddenFor(model => model.ApplicationId)

                @Html.HiddenFor(model => model.FormID)

                @Html.HiddenFor(model => model.WorkFlowID)

                @Html.HiddenFor(model => model.UserName)

                @Html.HiddenFor(model => model.TimeStr)

                @Html.HiddenFor(model => model.FuJianList)

                @Html.HiddenFor(model => model.ShenPiYiJian)

                @Html.HiddenFor(model => model.JieDianID)

                @Html.HiddenFor(model => model.JieDianName)

                @Html.HiddenFor(model => model.ShenPiUserList)

                @Html.HiddenFor(model => model.OKUserList)

                @Html.HiddenFor(model => model.StateNow)

                @Html.HiddenFor(model => model.LateTime)

                @Html.HiddenFor(model => model.WenHao)

                @Html.HiddenFor(model => model.BeiYong1)

                @Html.HiddenFor(model => model.BeiYong2)
                <tr>
                    <td>
                        @Html.Raw(Model.FormContent)
                        @Html.HiddenFor(model => model.FormContent)
                        @Html.ValidationMessageFor(model => model.FormContent)
                    </td>
                </tr>

               
                @if (Model.IsTemporary == true)
                {
                    <tr>
                        <td colspan="3" style="vertical-align:middle; text-align:center;">
                            <input type="submit" value="保存并上报" id="Reported" name="Reported" class="btn btn-blue" />
                        </td>
                        <td colspan="3" style="vertical-align:middle; text-align:center;">
                            已保存
                        </td>
                    </tr>
                }
                else if (Model.IsTemporary == false)
                {

                }
                else
                {
                    <tr>
                        <td colspan="2">
                            <p><input type="file" id="uploadFile" name="file" onchange="CheckFileSize()" /></p>
                            <input type="button" value="上传" id="btnUploadFile" />
                            <div id="areadyuploadfile"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle; text-align:center;">
                            <input type="submit" value="保存并上报" id="Reported" name="Reported" class="btn btn-blue" />
                        </td>
                        <td style="vertical-align:middle; text-align:center;">
                            <input type="submit" value="保&nbsp&nbsp&nbsp存" id="Save" name="Save" class="btn btn-blue" />
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</body>
    </html>
<script>@Html.Raw(ViewBag.PiLiangSet);</script>
