@model IEnumerable<ScientificResearch.ViewModel.ERPRiZhiViewModel>
@{
    Layout = null;
}

<div id="AreadyDoWindow">

</div>
<script type="text/javascript">
    function OpenAreadyDoWindow(id) {
        $("#AreadyDoWindow").kendoWindow({
            position: {
                top: "15%", // or "100px"
                left: "13%"
            },
            width: "80%",
            height: "80%",
            modal: true,
            draggable: true,
            title: "待办",
            visible: false,
            actions: [
                    "Pin",
                    "Close",
                   // "Minimize",
                 // "Maximize"
            ],
            resizable: false,
            close: function (e) {
                parent.location.reload();//刷新页面
            }
        });

        $.ajax({
            url: "/Education/GraduateStudent/ReturnTop10StateValue?id=" + id,
            type: "post",
            success: function (data) {
                if (data != null) {
                    // $("#MaxWindow").html(data);
                    var k = data;
                    //判断返回的状态来控制弹出框第一个打开的页面
                    
                    if (data["ReturnState"] == "AplicationWriting") {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/SubmitApplication?id=' + data["fundsId"] + '">研究生申请书</iframe>');
                    }
                    else if (data["ReturnState"] == "ApplicationRejected" || data["ReturnState"] == "ApplicationApproving")//申请书已提交和待审批中
                    {

                        if (data["ReturnState"] == "ApplicationRejected") {
                            $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/ApplicationRejected?id=' + data["fundsId"] + '">研究生申请书</iframe>');
                        }
                        else {
                            $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/ApplicationAgree?id=' + data["fundsId"] + '">研究生申请书审批</iframe>');
                        }

                    }
                    else if (data["ReturnState"] == "ApplicationApproved" || data["ReturnState"] == "BorrowRegistrationSave")//全部通过审批
                    {
                        //为申请书iframe的src赋值id是ERPNWorkToDo的ID
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/CostRegist?id=' + data["fundsId"] + '">费用登记</iframe>');
                    }

                    else if (data["ReturnState"] == "BookCostRegistNot") {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/BookCostRegistList?id=' + data["fundsId"] + '">书本费使用登记</iframe>');
                    }
                    else if (data["ReturnState"] == "BookCostRegistSubmit" || data["ReturnState"] == "GraduationCertificateNot") {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/GraduationCertificate?id=' + data["fundsId"] + '">结业证书</iframe>');
                    }
                    else if (data["ReturnState"] == "GraduationCertificateSave") {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/GraduationCertificate?id=' + data["fundsId"] + '">结业证书</iframe>');
                    }
                    else if (data["ReturnState"] == "GraduationCertificateSubmit" || data["ReturnState"] == "GraduationCertificateAgree") {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/GraduationCertificateAgree?id=' + data["fundsId"] + '">结业证书审批中</iframe>');
                    }
                    else if (data["ReturnState"] == "GraduationCertificateReject") {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/GraduationCertificateReject?id=' + data["fundsId"] + '">结业证书被驳回</iframe>');
                    }
                    else if (data["ReturnState"] == "RewardSituationNot") {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/RewardSituation?id=' + data["fundsId"] + '">奖励登记</iframe>');
                    }
                    else if (data["ReturnState"] == "RewardSituationSubmit") {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/GraduateStudent/RewardSituation?id=' + data["fundsId"] + '">奖励登记</iframe>');
                    }
                }

                else {
                    alert("发生异常！");
                }
            }
        });
        $("#AreadyDoWindow").data("kendoWindow").center().open();
    }

</script>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>
            申请人
        </th>
        <th>
            操作
        </th>
        <th>
            上报时间
        </th>
    </tr>
    @{int NO = 0;}
    @foreach (var item in Model)
    {
        { NO++; }
        <tr onclick="OpenAreadyDoWindow(@item.FKApplicationID)">
            <td>@NO</td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoSomething)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStr)
            </td>
        </tr>
    }
</table>
