@model ScientificResearch.ViewModel.TravelFundsRecordViewModel

@{
    ViewBag.Title = "差旅报销申请";
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}
<style type="text/css" >
    input[type="text"] {
        width: 60px;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("input[name='Reported'],input[name='Save'] ").click(function () {
            var errorMessage="";
            if ($("#Name").val().trim() == "") {
                errorMessage =errorMessage+ "差旅报销单名称不能为空！";
            }
            if ($("#Description").val().trim() == "") {
                errorMessage = errorMessage + "差旅描述不能为空！";
            }
            if (errorMessage == "") {

            }
            else {
                alert(errorMessage);
                return false;
            }
        });
    });

    //上报成功的提示
    $(function(){
        var sendupsuccess = "@ViewBag.SendUpSuccess";
        if (sendupsuccess == "True")
        {
            alert("上报成功！");
            parent.location.reload();
        }

    });
</script>

@using (Html.BeginForm("TravelExpenses", "SubjectLeader", FormMethod.Post, new { id = "formId", novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="Freeze" value="@Model.ApplicationId" />
    <table class="table">

        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.FundsRecordID)

        @Html.HiddenFor(model => model.ApplicationId)

        @Html.HiddenFor(model => model.WorkflowId)

        @Html.HiddenFor(model => model.Type)

        @Html.HiddenFor(model => model.ProjectName)

        @Html.HiddenFor(model => model.IsIncome)

        @Html.HiddenFor(model => model.IsPrint)

        @Html.HiddenFor(model => model.LastPrintTime)

        @Html.HiddenFor(model => model.UnitPrice)

        @Html.HiddenFor(model => model.Quantity)

        @Html.HiddenFor(model => model.Unit)

        @Html.HiddenFor(model => model.ShenPiYiJian)

        @Html.HiddenFor(model => model.JieDianID)

        @Html.HiddenFor(model => model.JieDianName)

        @Html.HiddenFor(model => model.OKUserList)

        @Html.HiddenFor(model => model.ShenPiUserList)

        @Html.HiddenFor(model => model.StateNow)

        @Html.HiddenFor(model => model.LateTime)

        @Html.HiddenFor(model => model.Comment)

        @Html.HiddenFor(model => model.CreatedBy)

        @Html.HiddenFor(model => model.TimeStr)

        @Html.HiddenFor(model => model.UpdatedBy)

        @Html.HiddenFor(model => model.UpdatedTime)

        @Html.HiddenFor(model => model.FuJianList)

        @Html.HiddenFor(model => model.TotalPrice)

        <tr >
            <td >差旅报销名称</td>
            <td >
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @style = "width:150px" } })
                @Html.ValidationMessageFor(model => model.Name)
            </td>

        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Description)
            </td>
            <td>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @style = "width:150px" } })
                @Html.ValidationMessageFor(model => model.Description)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.CountOfBill)
            </td>
            <td>
                <input type="text" style="width:150px" id="CountOfBill" name="CountOfBill" value="@Model.CountOfBill" onkeypress="var k=event.keyCode; return (k&gt;=48&amp;&amp;k&lt;=57)||k==46" ondragenter="return false" onpaste="return !/D/.test(clipboardData.getData('text'))" />
                @Html.ValidationMessageFor(model => model.CountOfBill)
            </td>

        </tr>


        <tr>
            <td>
                操作人
            </td>
            <td>
                <input readonly="readonly" style="width: 150px; height: 24px; color: #BBB;" type="text" id="UserName" name="UserName" value="@Model.UserName" />
            </td>
        </tr>
    </table>

    <div>
        <table class="table" id="tb1">
            <tr>
                <th >
                    @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().FromAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().ToAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().Transportation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().TransportationFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().HotelFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().OtherFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().OtherFeeComment)
                </th>
            </tr>

            <tr>
                <td><input type="text" style="width:100px;" name="item1StartDate" id="item1StartDate" onblur="StartCheck();" /></td>
                <td><input type="text" style="width:100px;" name="item1EndDate" id="item1EndDate" /></td>
                <td><input type="text" name="item1FromAddress" id="item1FromAddress" /></td>
                <td><input type="text" name="item1ToAddress" id="item1ToAddress" /></td>
                <td><input type="text" name="item1Transportation" id="item1Transportation" /></td>
                <td><input type="text" name="item1TransportationFee" id="item1TransportationFee" onkeypress="var k=event.keyCode; return (k&gt;=48&amp;&amp;k&lt;=57)||k==46" ondragenter="return false" onpaste="return !/D/.test(clipboardData.getData('text'))" /></td>
                <td><input type="text" name="item1HotelFee" id="item1HotelFee" onkeypress="var k=event.keyCode; return (k&gt;=48&amp;&amp;k&lt;=57)||k==46" ondragenter="return false" onpaste="return !/D/.test(clipboardData.getData('text'))" /></td>
                <td><input type="text" name="item1OtherFee" id="item1OtherFee" onkeypress="var k=event.keyCode; return (k&gt;=48&amp;&amp;k&lt;=57)||k==46" ondragenter="return false" onpaste="return !/D/.test(clipboardData.getData('text'))" /></td>
                <td><input type="text" name="item1OtherFeeDescription" id="item1OtherFeeDescription" /></td>
            </tr>
        </table>

        <input id="count" type="hidden" name="count" value="1">

        <script src="~/Scripts/Custom/travelExpense.js"></script>
        <input type="button" value=" + " id="add" />
        <script type="text/javascript">
            $(function(){
                //点击按钮 + 为表格新增一行
                travelExpenses();
            });
        </script>

        <table class="table">
        @if (ViewBag.act == "save")
        {
            <tr>
                <td colspan="2" style="vertical-align:middle; text-align:center;">
                    <input type="submit" value="保存并上报" name="Reported" class="btn btn-blue" />
                </td>
                @*<td colspan="2" style="vertical-align:middle; text-align:center;">
                    <input type="submit" value="修改数据" name="Updatedata" class="btn btn-blue" />
                </td>*@
            </tr>
        }
        else if (ViewBag.act == "updatedata")
        {
            <tr>
                <td colspan="2" style="vertical-align:middle; text-align:center;">
                    <input type="submit" value="保存并上报" name="Reported" class="btn btn-blue" />
                </td>
                @*<td colspan="2" style="vertical-align:middle; text-align:center;">
                    <input type="submit" value="保&nbsp&nbsp&nbsp存" name="Save" class="btn btn-blue" />
                </td>*@
            </tr>
        }
        else
        {
             <tr>
                 <td colspan="2" style="vertical-align:middle; text-align:center;">
                     <input type="submit" value="保存并上报" name="Reported" class="btn btn-blue" />
                 </td>
                 @*<td colspan="2" style="vertical-align:middle; text-align:center;">
                     <input type="submit" value="保&nbsp&nbsp&nbsp存" name="Save" class="btn btn-blue" />
                 </td>*@
             </tr>
        }
            </table>
    </div>
}
<script>
    $(document).ready(function () {
        //$("#CreatedTime").kendoDatePicker();

        function startChange() {
            var startDate = start.value(),
            endDate = end.value();

            if (startDate) {
                startDate = new Date(startDate);
                startDate.setDate(startDate.getDate());
                end.min(startDate);
            } else if (endDate) {
                start.max(new Date(endDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        function endChange() {
            var endDate = end.value(),
            startDate = start.value();

            if (endDate) {
                endDate = new Date(endDate);
                endDate.setDate(endDate.getDate());
                start.max(endDate);
            } else if (startDate) {
                end.min(new Date(startDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        var start = $("#item1StartDate").kendoDatePicker({
            change: startChange
        }).data("kendoDatePicker");

        var end = $("#item1EndDate").kendoDatePicker({
            change: endChange
        }).data("kendoDatePicker");
        $("#item1StartDate").attr("readonly", true);
        $("#item1EndDate").attr("readonly",true);
        start.max(end.value());
        end.min(start.value());
    });


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
