<!DOCTYPE html>
@using ScientificResearch.Utility.Constants;
@using System.Web.Mvc;
@using UI.ScientificResearch.Extensions;
@{
    var urlArray = Request.Url.Segments;
    if (urlArray.Length > 1)
    {
        if (urlArray[1] == "Approval")
        {
            ViewBag.Module = "工程项目";
        }

        if (urlArray.Length > 2)
        {
            if (urlArray[2] == "Index")
            {
                ViewBag.Title = "简介";
            }
            else if (urlArray[2] == "WorkContainer")
            {
                ViewBag.Title = "待办事宜";
            }
            else if (urlArray[2] == "ApplicationList")
            {
                ViewBag.Title = "项目注册";
            }
            else if (urlArray[2] == "ProcessingProjectList")
            {
                ViewBag.Title = "过程记录";
            }
            else if (urlArray[2] == "ProjectBonusCredit")
            {
                ViewBag.Title = "奖励设置";
            }
            else if (urlArray[2] == "ScienceFundsManageContainer")
            {
                ViewBag.Title = "资金管理";
            }
            else if (urlArray[2] == "ScienceStatisticContainer")
            {
                ViewBag.Title = "统计分析";
            }
        }
    }
}
@{
    string allRoles = Session[SessionKeyEnum.UserRoles.ToString()].ToString();
    string[] rolesArry = allRoles.Split(',');
    if (rolesArry.Length > 2 || allRoles.Contains("超级管理员"))
    {
    }
    else
    {
        ViewBag.HiddenLi = "Hidden";
    }
   
}
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <title>招投标综合管理软件</title>

    <meta charset="utf-8" />
    <meta name="description" content="tabs and accordions" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/weather-icons.min.css" rel="stylesheet" />

    <!--Fonts-->
    <link href="http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    <link id="beyond-link" href="~/Content/assets/css/beyond.min.css" rel="stylesheet" />
    @*<link href="~/Content/assets/css/demo.min.css" rel="stylesheet" />*@
    <link href="~/Content/assets/css/typicons.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/new-cover.css" rel="stylesheet" />
    <!--Page Related styles-->
    <link href="~/Content/assets/css/dataTables.bootstrap.css" rel="stylesheet" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="~/Scripts/assets/js/skins.min.js"></script>

    <link rel="stylesheet" href="~/Content/kendo/2014.2.716/kendo.common.min.css" />
    <link rel="stylesheet" href="~/Content/kendo/2014.2.716/kendo.default.min.css" />
    @*<link href="~/Content/Kendo/2014.2.716/kendo.rtl.min.css" rel="stylesheet">*@

    <!--文本框大小 -->
    <link href="~/Content/customTextBoxStlye.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Kendo/2014.2.716/kendo.web.min.js"></script>
    <script src="~/Scripts/Kendo/2014.2.716/cultures/kendo.culture.zh-CN.min.js"></script>
    
    @*<script src="~/Content/shared/js/console.js"></script>*@
    <script type="text/javascript">
        $(function () {
            var IsHiddenLi = "@ViewBag.HiddenLi";
            if (IsHiddenLi == "Hidden")
            {
                $("#Approval_ProjectBonusCredit").remove();
                $("#Approval_ScienceFundsManageContainer").remove();
                $("#Approval_ScienceStatisticContainer").remove();
                $("#GoodSubject_ScienceFundsManageContainer").remove();
                $("#GoodSubject_ScienceStatisticContainer").remove();
                $("#SubjectLeader_ProjectBonusCredit").remove();
                $("#SubjectLeader_ScienceFundsManageContainer").remove();
                $("#PaperPublish_ProjectBonusCredit").remove();
                $("#PaperPublish_ScienceFundsManageContainer").remove();
                $("#PaperPublish_PaperConfigManageContainer").remove();
                $("#PaperPublish_PaperBonusCreditList").remove();
                $("#PaperPublish_ScienceStatisticContainer").remove();
                $("#ScienceConference_ScienceFundsManageContainer").remove();
                $("#ScienceConference_ScienceStatisticContainer").remove();
                $("#ResearchAward_ProjectBonusCredit").remove();
                $("#ResearchAward_ScienceFundsManageContainer").remove();
                $("#Statistic_Controller").remove();
            }
        });
    </script>
    <script type="text/javascript">

        $(function () {
            $.ajax({
                url: "/Approval/UpToDoThings",
                type: "get",
                success: function (data) {
                    if (data != null) {
                        $("#ToDoThingsCount").append("<lable>" + data.length + "</lable>");
                    }
                    else {

                    }
                }
            });

            $("#todoli").mouseenter(function () {
                $("#todoul").empty();
                $.ajax({
                    url: "/Approval/UpToDoThings",
                    type: "get",
                    success: function (data) {
                        if (data != null) {
                            var html = "<li> " + data.length + "个待办事宜</li>";
                            if (data.length > 10) {
                                for (var i = 0; i < 9; i++) {
                                    //将json时间转换
                                    var ChangingTimeStr = eval('new ' + data[i].TimeStr.replace('/', '', 'g').replace('/', '', 'g'));
                                    var ChangedTimeStr = ChangingTimeStr.toLocaleDateString() + " " + ChangingTimeStr.toLocaleTimeString();
                                    html = html + '<li class="tasksUl" style="border-bottom: 1px solid #F3F3F3;" onclick="OpeToDoWindow(' + data[i].FKApplicationID + ')"><a href="#"><div class="clearfix"><span class="pull-left">' + data[i].DoSomething + '</span> <span class="timeForNow pull-right">' + ChangedTimeStr + '</span></div></a></li>';
                                }
                            }
                            else {
                                for (var i = 0; i < data.length; i++) {
                                    //将json时间转换
                                    var ChangingTimeStr = eval('new ' + data[i].TimeStr.replace('/', '', 'g').replace('/', '', 'g'));
                                    var ChangedTimeStr = ChangingTimeStr.toLocaleDateString() + " " + ChangingTimeStr.toLocaleTimeString();
                                    html = html + '<li class="tasksUl" style="border-bottom: 1px solid #F3F3F3;" onclick="OpeToDoWindow(' + data[i].FKApplicationID + ')"><a href="#"><div class="clearfix"><span class="pull-left">' + data[i].DoSomething + '</span> <span class="timeForNow pull-right">' + ChangedTimeStr + '</span></div></a></li>';
                                }
                            }
                            html = html + '<li class="tasksUl" style="border-bottom: 1px solid #F3F3F3;" id="Approval_WorkContainer"><a href="/Approval/AllWorkContainer">更多>></a></li>';
                            $("#todoul").append(html);
                        }
                    }
                });
            }).mouseleave(function () {
                $("#todoul").empty();
            });
        });
    </script>

    @RenderSection("HeadContent", required: false)
</head>
<!-- /Head -->
<!-- Body -->
<body>
    <div id="AllToDoWindow">

    </div>
    <script type="text/javascript">
     function OpeToDoWindow(id) {
         $("#AllToDoWindow").kendoWindow({
             position: {
                 top: "15%", // or "100px"
                 left: "13%"
             },
             width: "80%",
             height: "80%",
             modal: true,
             draggable: true,
             title: "待办",
             visible: false,
             actions: [
                     "Pin",
                     "Close",
                    // "Minimize",
                  // "Maximize"
             ],
             resizable: false,
             close: function (e) {
                 parent.location.reload();//刷新页面
             }
         });

         $.ajax({
             url: "/Approval/RiZhiReturnStateValue?id=" + id,
             type: "post",
             success: function (data) {
                 if (data != null) {
                     // $("#MaxWindow").html(data);
                     var k = data;
                     //判断返回的状态来控制弹出框第一个打开的页面
                     //申请书已填写未审核、科室主任已经审批申请书、科教科已经审批申请书、科教科已经审批申请书、超级管理员审批已经审批申请书
                     if (data["ReturnState"] == "AplicationWriting") {
                         $("#AllToDoWindow").append(' <iframe id="application" width="100%" height="170%" scrolling="no" style="border:0px" src="/Approval/SubmitApplication?id=' + data["applicationId"] + '">项目注册</iframe>');
                     }
                     else if (data["ReturnState"] == "ApplicationRejected" || data["ReturnState"] == "ApplicationApproving")//申请书已提交和待审批中
                     {
                         if(data["ReturnState"]=="ApplicationRejected")
                         {
                             $("#AllToDoWindow").append(' <iframe id="application" width="100%" height="170%" scrolling="no" style="border:0px" src="/Approval/ApplicationRejected?id=' + data["applicationId"] + '">项目注册</iframe>');
                         }
                         else
                         {
                             $("#AllToDoWindow").append(' <iframe id="application" width="100%" height="170%" scrolling="no" style="border:0px" src="/Approval/ApplicationAgree?id=' + data["applicationId"] + '">项目注册</iframe>');
                         }
                     }
                     else if (data["ReturnState"] == "ApplicationApproved" || data["ReturnState"] == "ProjectEstablishing")//全部通过审批
                     {
                         //为申请书iframe的src赋值id是ERPNWorkToDo的ID
                         $("#AllToDoWindow").append(' <iframe id="application" width="100%" height="170%" scrolling="no" style="border:0px" src="/Approval/ProjectEstablish?id=' + data["applicationId"] + '">项目注册</iframe>');
                     }
                     else if (data["ReturnState"] == "ProjectEstablished" || data["ReturnState"] == "ContractSigning")//申请书已提交和待审批中
                     {
                         $("#AllToDoWindow").append(' <iframe id="process" width="100%" height="170%" scrolling="no" style="border:0px" src="/Approval/SignContract?id=' + data["applicationId"] + '">合同记录</iframe>');
                     }
                     else if (data["ReturnState"] == "ContractSigned" || data["ReturnState"] == "ProjectProcessing")//申请书已提交和待审批中
                     {
                         $("#AllToDoWindow").append(' <iframe id="process" width="100%" height="170%" scrolling="no" style="border:0px" src="/Approval/ProcessRecordList?id=' + data["applicationId"] + '">过程记录</iframe>');
                     }
                     else if (data["ReturnState"] == "ConcludeUnWrite" || data["ReturnState"] == "ConcludeUnSubmit")//申请书已提交和待审批中
                     {
                         $("#AllToDoWindow").append(' <iframe id="process" width="100%" height="170%" scrolling="no" style="border:0px" src="/Approval/Conclusions?id=' + data["applicationId"] + '">项目结题</iframe>');
                     }
                     else if (data["ReturnState"] == "ProjectConcluding" || data["ReturnState"] == "ProjectConcluded" || data["ReturnState"] == "ConcludeRejected")//申请书已提交和待审批中
                     {
                         if(data["ReturnState"] == "ConcludeRejected")
                         {
                             $("#AllToDoWindow").append(' <iframe id="process" width="100%" height="170%" scrolling="no" style="border:0px" src="/Approval/ConclusionsRejected?id=' + data["applicationId"] + '">项目结题</iframe>');
                         }
                         else
                         {
                             $("#AllToDoWindow").append(' <iframe id="process" width="100%" height="170%" scrolling="no" style="border:0px" src="/Approval/ConclusionsAgree?id=' + data["applicationId"] + '">项目结题</iframe>');
                         }
                     }
                     else if (data["ReturnState"] == "ExtensionUnWrite")//
                     {
                         //为申请书iframe的src赋值id是ERPNWorkToDo的ID
                         $("#AllToDoWindow").append(' <iframe id="process" width="100%" height="170%" scrolling="no" style="border:0px" src="/Approval/ExtensionRequest?id=' + data["applicationId"] + '">项目延期</iframe>');
                     }
                     else if (data["ReturnState"] == "ExtensionRequestApproving" || data["ReturnState"] == "ExtensionAgreed" || data["ReturnState"] == "ExtensionRejected")//申请书已提交和待审批中
                     {
                         if(data["ReturnState"] == "ExtensionRejected")
                         {
                             $("#AllToDoWindow").append(' <iframe id="process" width="100%" height="170%" scrolling="no" src="/Approval/ExtensionRejected?id=' + data["applicationId"] + '">项目延期</iframe>');
                         }
                         else
                         {
                             $("#AllToDoWindow").append(' <iframe id="process" width="100%" height="170%" scrolling="no" src="/Approval/ExtensionAgree?id=' + data["applicationId"] + '">项目延期</iframe>');
                         }
                     }

                 }
                 else {
                     alert("发生异常！");
                 }
             }
         });
         $("#AllToDoWindow").data("kendoWindow").center().open();
     };
    </script>
    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loading-progress">
            <div class="rotator">
                <div class="rotator">
                    <div class="rotator colored">
                        <div class="rotator">
                            <div class="rotator colored">
                                <div class="rotator colored"></div>
                                <div class="rotator"></div>
                            </div>
                            <div class="rotator colored"></div>
                        </div>
                        <div class="rotator"></div>
                    </div>
                    <div class="rotator"></div>
                </div>
                <div class="rotator"></div>
            </div>
            <div class="rotator"></div>
        </div>
    </div>
    <!--  /Loading Container -->
    <!-- Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-container">
                <!-- Navbar Barnd -->
                <div class="navbar-header pull-left">
                    <a href="/ApplicationIdentity/Home" class="navbar-brand">
                        <small style="line-height: 40px">
                            <img src="~/Content/assets/img/logo.png" alt="" />
                        </small>
                    </a>
                </div>
                <!-- /Navbar Barnd -->
                @*分隔条*@
                <!-- Sidebar Collapse -->
                <!--<div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>-->
                <!-- /Sidebar Collapse -->
                <!-- Account Area and Settings --->
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area">
                            <li>
                                <a class=" dropdown-toggle" data-toggle="dropdown" title="快速导航" href="#">
                                    <i class="icon fa fa-warning"></i>
                                </a>
                                <!--Notification Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-notifications">
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <div class="notification-icon">
                                                    <i class="fa fa-phone bg-themeprimary white"></i>
                                                </div>
                                                <div class="notification-body">
                                                    <span class="title">前台首页</span>
                                                    <!--<span class="description">01:00 pm</span>-->
                                                </div>
                                                <!--<div class="notification-extra">
                                                    <i class="fa fa-clock-o themeprimary"></i>
                                                    <span class="description">office</span>
                                                </div>-->
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <div class="notification-icon">
                                                    <i class="fa fa-check bg-darkorange white"></i>
                                                </div>
                                                <div class="notification-body">
                                                    <span class="title">后台首页</span>

                                                </div>
                                                <!--<div class="notification-extra">
                                                    <i class="fa fa-clock-o darkorange"></i>
                                                </div>-->
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Approval/Index">
                                            <div class="clearfix">
                                                <div class="notification-icon">
                                                    <i class="fa fa-gift bg-warning white"></i>
                                                </div>
                                                <div class="notification-body">
                                                    <span class="title">工程项目管理子系统</span>

                                                </div>
                                                <!--<div class="notification-extra">
                                                    <i class="fa fa-calendar warning"></i>
                                                    <i class="fa fa-clock-o warning"></i>
                                                    <span class="description">at home</span>
                                                </div>-->
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Education/Approval/Index">
                                            <div class="clearfix">
                                                <div class="notification-icon">
                                                    <i class="fa fa-glass bg-success white"></i>
                                                </div>
                                                <div class="notification-body">
                                                    <span class="title">工程项目管理子系统</span>

                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                  
                                    <li>
                                        <a href="/ApplicationIdentity/Home/About">
                                            <div class="clearfix">
                                                <div class="notification-icon">
                                                    <i class="fa fa-glass bg-success white"></i>
                                                </div>
                                                <div class="notification-body">
                                                    <span class="title">设置</span>

                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="dropdown-footer ">
                                        <span>
                                            今天, @DateTime.Now.Month 月 @DateTime.Now.Day 日
                                        </span>
                                        @*<span class="pull-right">
                                                10°c
                                                <i class="wi wi-cloudy"></i>
                                            </span>*@
                                    </li>
                                </ul>
                                <!--/Notification Dropdown-->
                            </li>

                            <li id="todoli">
                                <a class="dropdown-toggle" data-toggle="dropdown" title="待办事宜">
                                    <i class="icon fa fa-tasks"></i>
                                    <span class="badge" id="ToDoThingsCount"></span>
                                </a>
                                <!--Tasks Dropdown-->
                                <ul id="todoul" style="width:600px;" class="pull-right dropdown-menu dropdown-tasks dropdown-arrow "></ul>
                                <!--/Tasks Dropdown-->
                            </li>

                            @Html.Partial("_LoginPartial")

                            <!-- /Account Area -->
                            <!--Note: notice that setting div must start right after account area list.
                            no space must be between these elements-->
                            <!-- Settings -->
                        </ul>
                        @*<div class="setting">
                                <a id="btn-setting" title="Setting" href="#">
                                    <i class="icon glyphicon glyphicon-cog"></i>
                                </a>
                            </div>
                            <div class="setting-container">
                                <label>
                                    <input type="checkbox" id="checkbox_fixednavbar">
                                    <span class="text">Fixed Navbar</span>
                                </label>
                                <label>
                                    <input type="checkbox" id="checkbox_fixedsidebar">
                                    <span class="text">Fixed SideBar</span>
                                </label>
                                <label>
                                    <input type="checkbox" id="checkbox_fixedbreadcrumbs">
                                    <span class="text">Fixed BreadCrumbs</span>
                                </label>

                            </div>*@
                        <!-- Settings -->
                    </div>
                </div>
                <!-- /Account Area and Settings -->
            </div>
        </div>
    </div>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            <div class="page-sidebar" id="sidebar">
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    @*<input type="text" class="searchinput" />
                        <i class="searchicon fa fa-search"></i>*@
                    @*<div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>*@
                </div>
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
                <ul class="nav sidebar-menu">
                    <!--UI Elements-->
                    <li id="Approval_Controller">
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-flask"></i>
                            <span class="label label-info" id="Scientific"><strong>工程项目</strong> </span>

                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            @*<li id="Approval_WorkContainer">
                                <a href="/Approval/WorkContainer">
                                    <span class="badge badge-azure">待办事项</span>
                                </a>
                            </li>*@
                            <li id="Approval_ApplicationList">
                                <a href="/Approval/ApplicationList">
                                    <span class="badge badge-azure">项目注册</span>
                                </a>
                            </li>
                            <li id="Approval_ProcessingProjectList">
                                <a href="/Approval/ProcessingProjectList">
                                    <span class="badge badge-azure">过程记录</span>
                                </a>
                            </li>
                            <li id="Approval_ProjectBonusCredit">
                                    <a href="/Approval/ProjectBonusCredit">
                                        <span class="badge badge-azure">奖励设置</span>
                                    </a>
                                </li>
                            <li id="Approval_ScienceFundsManageContainer">
                                <a href="/RegisterInfo/ALlProjectBidWinnerNoticeList">
                                    <span class="badge badge-azure">资金管理</span>
                                </a>
                            </li>
                            <li id="Approval_ScienceStatisticContainer">
                                <a href="/Approval/ScienceStatisticContainer">
                                    <span class="badge badge-azure  ">统计分析</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!--Tables-->
                    <li id="GoodSubject_Controller">
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-flask"></i>
                            <span class="label label-info" id="GoodSubject"><strong> 工程项目</strong> </span>

                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            @*<li id="GoodSubject_WorkContainer">
                                    <a href="/GoodSubject/WorkContainer">
                                        <span class="badge badge-azure">待办事项</span>
                                    </a>
                                </li>*@
                            <li id="GoodSubject_ApplicationList">
                                <a href="/GoodSubject/ApplicationList">
                                    <span class="badge badge-azure">项目注册</span>
                                </a>
                            </li>
                            <li id="GoodSubject_ProcessingProjectList">
                                <a href="/GoodSubject/ProcessingProjectList">
                                    <span class="badge badge-azure">过程记录</span>
                                </a>
                            </li>
                            @*<li id="GoodSubject_ProjectBonusCredit">
                                    <a href="/GoodSubject/ProjectBonusCredit">
                                        <span class="menu-text">奖励设置</span>
                                    </a>
                                </li>*@
                            <li id="GoodSubject_ScienceFundsManageContainer">
                                <a href="/GoodSubject/ScienceFundsManageContainer">
                                    <span class="badge badge-azure">资金管理</span>
                                </a>
                            </li>
                            <li id="GoodSubject_ScienceStatisticContainer">
                                <a href="/GoodSubject/StatisticManageContainer">
                                    <span class="badge badge-azure">统计分析</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--Forms-->
                    <li id="SubjectLeader_Controller">
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-user"></i>
                            <span class="label label-info" id="SubjectLeader"><strong> 学科技术带头人</strong> </span>

                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            @*<li id="SubjectLeader_WorkContainer">
                                    <a href="/SubjectLeader/WorkContainer">
                                        <span class="badge badge-azure">待办事项</span>
                                    </a>
                                </li>*@
                            <li id="SubjectLeader_ApplicationList">
                                <a href="/SubjectLeader/ApplicationList">
                                    <span class="badge badge-azure">项目注册</span>
                                </a>
                            </li>
                            <li id="SubjectLeader_ProcessingProjectList">
                                <a href="/SubjectLeader/ProcessingProjectList">
                                    <span class="badge badge-azure">过程记录</span>
                                </a>
                            </li>
                            <li id="SubjectLeader_ProjectBonusCredit">
                                    <a href="/SubjectLeader/ProjectBonusCredit">
                                        <span class="badge badge-azure">奖励设置</span>
                                    </a>
                                </li>
                            <li id="SubjectLeader_ScienceFundsManageContainer">
                                <a href="/SubjectLeader/ScienceFundsManageContainer">
                                    <span class="badge badge-azure">资金管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--Charts-->
                    <li id="PaperPublish_Controller">
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-folder-open-o"></i>
                            <span class="label label-info" id="PaperPublish"> <strong>论文管理</strong> </span>

                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            @*<li id="PaperPublish_WorkContainer">
                                    <a href="/PaperPublish/WorkContainer">
                                        <span class="badge badge-azure">待办事项</span>
                                    </a>
                                </li>*@
                            <li id="PaperPublish_ApplicationList">
                                <a href="/PaperPublish/ApplicationList">
                                    <span class="badge badge-azure">项目注册</span>
                                </a>
                            </li>
                            <li id="PaperPublish_ProcessingProjectList">
                                <a href="/PaperPublish/ProcessingProjectList">
                                    <span class="badge badge-azure">过程记录</span>
                                </a>
                            </li>
                            <li id="PaperPublish_ProjectBonusCredit">
                                    <a href="/PaperPublish/ProjectBonusCredit">
                                        <span class="badge badge-azure">奖励设置</span>
                                    </a>
                                </li>
                            <li id="PaperPublish_ScienceFundsManageContainer">
                                <a href="/PaperPublish/ScienceFundsManageContainer">
                                    <span class="badge badge-azure">资金管理</span>
                                </a>
                            </li>
                            <li id="PaperPublish_PaperConfigManageContainer">
                                <a href="/PaperPublish/PaperConfigManageContainer">
                                    <span class="badge badge-azure"> 论文配置</span>
                                </a>
                            </li>
                            <li id="PaperPublish_PaperBonusCreditList">
                                <a href="/PaperPublish/PaperBonusCreditList">
                                    <span class="badge badge-azure"> 学分配置</span>
                                </a>
                            </li>
                            <li id="PaperPublish_ScienceStatisticContainer">
                                <a href="/PaperPublish/ScienceStatisticContainer">
                                    <span class="badge badge-azure">统计分析</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--Mail-->
                    <li id="ScienceConference_Controller">
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-book"></i>
                            <span class="label label-info" id="ScienceConference"> <strong>学术会议</strong> </span>

                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            @*<li id="ScienceConference_WorkContainer">
                                    <a href="/ScienceConference/WorkContainer">
                                        <span class="badge badge-azure">待办事项</span>
                                    </a>
                                </li>*@
                            <li id="ScienceConference_ApplicationList">
                                <a href="/ScienceConference/ApplicationList">
                                    <span class="badge badge-azure">项目注册</span>
                                </a>
                            </li>
                            <li id="ScienceConference_ProcessingProjectList">
                                <a href="/ScienceConference/ProcessingProjectList">
                                    <span class="badge badge-azure">过程记录</span>
                                </a>
                            </li>
                            <li id="ScienceConference_ScienceFundsManageContainer">
                                <a href="/ScienceConference/ScienceFundsManageContainer">
                                    <span class="badge badge-azure">资金管理</span>
                                </a>
                            </li>
                            <li id="ScienceConference_ScienceStatisticContainer">
                                <a href="/ScienceConference/ScienceStatisticContainer">
                                    <span class="badge badge-azure">统计分析</span>
                                </a>
                            </li>
                            @*<li id="ScienceConference_WorkContainer">
                                    <a href="/ScienceConference/ScienceFundsManageContainer">
                                        <span class="menu-text">公务出差审批单</span>
                                    </a>
                                </li>*@
                        </ul>
                    </li>
                    <li id="ResearchAward_Controller">
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-trophy"></i>
                            <span class="label label-info" id="ResearchAward"> <strong>科技成果 </strong></span>

                            <i class="menu-expand"></i>
                        </a>
                        <ul class="submenu">
                            @*<li id="ResearchAward_WorkContainer">
                                    <a href="/ResearchAward/WorkContainer">
                                        <span class="badge badge-azure">待办事项</span>
                                    </a>
                                </li>*@
                            <li id="ResearchAward_ApplicationList">
                                <a href="/ResearchAward/ApplicationList">
                                    <span class="badge badge-azure">项目注册</span>
                                </a>
                            </li>
                            <li id="ResearchAward_ProcessingProjectList">
                                <a href="/ResearchAward/ProcessingProjectList">
                                    <span class="badge badge-azure">过程记录</span>
                                </a>
                            </li>
                            <li id="ResearchAward_ProjectBonusCredit">
                                    <a href="/ResearchAward/ProjectBonusCredit">
                                        <span class="badge badge-azure">奖励设置</span>
                                    </a>
                                </li>
                            <li id="ResearchAward_ScienceFundsManageContainer">
                                <a href="/ResearchAward/ScienceFundsManageContainer">
                                    <span class="badge badge-azure">资金管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--More Pages-->
                    <li id="Statistic_Controller">
                        <a href="#" class="menu-dropdown">
                            <i class="menu-icon fa fa-bar-chart-o"></i>

                            <span class="label label-info">
                                <strong>科研统计</strong>
                            </span>

                            <i class="menu-expand"></i>
                        </a>

                        <ul class="submenu">
                            <li id="Statistic_ScienceResearchAmountOfSectionStatistic">
                                <a href="/Statistic/ScienceResearchAmountOfSectionStatistic">
                                    <span class="badge badge-azure">科室科研数量统计</span>
                                </a>
                            </li>

                            <li id="Statistic_ScienceResearchAmountOfApplicationStatistic">
                                <a href="/Statistic/ScienceResearchAmountOfApplicationStatistic">
                                    <span class="badge badge-azure"> 科研申请书统计</span>
                                </a>
                            </li>
                            <li id="Statistic_ScienceResearchOfCapitalStatistic">
                                <a href="/Statistic/ScienceResearchOfCapitalStatistic">
                                    <span class="badge badge-azure">科研资金统计</span>
                                </a>
                            </li>
                            <li id="StatisticScienceResearchAmountOfFundStatistic">
                                <a href="/Statistic/ScienceResearchAmountOfFundStatistic">
                                    <span class="badge badge-azure">科研经费统计</span>
                                </a>
                            </li>
                            <li id="Statistic_ScienceResearchProjectStatistic">
                                <a href="/Statistic/ScienceResearchProjectStatistic">
                                    <span class="badge badge-azure"> 项目信息统计</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /Sidebar Menu -->
            </div>
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs" style="position: relative;left: 0px;top: 0px;">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/ApplicationIdentity/Home">主页</a>
                        </li>

                        <li>
                            @{
                                if (@ViewBag.Module == Constant.ScienceResearch)
                                {
                                    <a href="/Approval/Index">@ViewBag.Module</a>
                                }
                                else if (@ViewBag.Module == Constant.GoodSubject)
                                {
                                    <a href="/GoodSubject/Index">@ViewBag.Module</a>
                                }
                                else if (@ViewBag.Module == Constant.PaperPublish)
                                {
                                    <a href="/PaperPublish/Index">@ViewBag.Module</a>
                                }
                                else if (@ViewBag.Module == Constant.ResearchAward)
                                {
                                    <a href="/ResearchAward/Index">@ViewBag.Module</a>
                                }
                                else if (@ViewBag.Module == Constant.ScienceConference)
                                {
                                    <a href="/ScienceConference/Index">@ViewBag.Module</a>
                                }
                                else if (@ViewBag.Module == Constant.SubjectLeader)
                                {
                                    <a href="/SubjectLeader/Index">@ViewBag.Module</a>
                                }
                                else if (@ViewBag.Module == Constant.ScienceStatistic)
                                {
                                    <a href="/Statistic/ScienceResearchAmountOfFundStatistic">@ViewBag.Module</a>
                                }
                                else
                                {
                                    <a href="/Approval/Index">@ViewBag.Module</a>
                                }
                            }
                        </li>
                        <li class="active">@ViewBag.Title</li>
                    </ul>
                    <span class="header-buttons" style="float: right;margin-right: 45px">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </span>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <!-- /Page Header -->
                <!-- 加载并展开导航中用户选中的结点-->
                @{
                    if (urlArray.Length > 1)
                    {
                        var controllerName = urlArray[1].Remove(urlArray[1].Length - 1);
                        var moduleId = @controllerName + "_Controller";
                        <script>
                            $("#@moduleId").addClass("active").addClass("open");
                        </script>

                        if (urlArray.Length > 2)
                        {
                            var actionName = urlArray[2];
                            var actionId = controllerName + "_" + actionName;
                            <script>
                                $("#@actionId").addClass("active");
                            </script>
                        }
                    }
                }

                <!-- Page Body -->
                <div class="page-body">
                    @RenderBody()
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
        <!-- Main Container -->

    </div>

    <!--Basic Scripts-->
    <script src="~/Scripts/assets/js/bootstrap.min.js"></script>

    <!--Beyond Scripts-->
    <script src="~/Scripts/assets/js/beyond.min.js"></script>

    <script>
        var Scientific = document.getElementById("Scientific");
        Scientific.onclick = function () {
            window.location.href = "/Approval/Index";
        };
        var GoodSubject = document.getElementById("GoodSubject");
        GoodSubject.onclick = function () {
            window.location.href = "/GoodSubject/Index";
        };
        var SubjectLeader = document.getElementById("SubjectLeader");
        SubjectLeader.onclick = function () {
            window.location.href = "/SubjectLeader/Index";
        };
        var PaperPublish = document.getElementById("PaperPublish");
        PaperPublish.onclick = function () {
            window.location.href = "/PaperPublish/Index";
        };
        var ScienceConference = document.getElementById("ScienceConference");
        ScienceConference.onclick = function () {
            window.location.href = "/ScienceConference/Index";
        };
        var ResearchAward = document.getElementById("ResearchAward");
        ResearchAward.onclick = function () {
            window.location.href = "/ResearchAward/Index";
        };
    </script>

    <!--Page Related Scripts-->
    <!--Google Analytics::Demo Only-->
    @*<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-52103994-1', 'auto');
            ga('send', 'pageview');

        </script>*@
    <script>
        $(document).ready(function () {
            kendo.culture("zh-CN");
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
<!--  /Body -->
</html>
