@model ScientificResearch.ViewModel.FundsRecordViewModel

@{
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}
<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/ajaxfileupload.js"></script>
    <script src="~/Scripts/Custom/AboutApprovalNode.js"></script>
    <script src="~/Scripts/Custom/form.js"></script>
    <style type="text/css">
        input[type="text"] {
            width: 150px;
            height: 30px;
        }
    </style>
    <script type="text/javascript">
        var currentnode = "@ViewBag.CurrentNodeSerils";
        var allcount = parseInt("@ViewBag.allCount");
        $(function () {
            fileListInitializeAgree(currentnode, allcount);
            shenPiyiJianListinitialize(currentnode, allcount);
        });

        $(function () {
            $("#btnUploadFile").click(function () {
                if ($("#uploadFile").val().length > 0) {
                    ajaxFileUploadAgree(currentnode, allcount);
                }
                else {
                    alert("请选择要上传的文件！！");
                }
            })
        })

        $(function () {
            $("#Approval").click(function () {
                var url1 = "/ScienceConference/ReimburseAgree?flag=Approval";
                submitForm("form", url1);
            })
            $("#Reject").click(function () {
                var url2 = "/ScienceConference/ReimburseAgree?flag=Reject";
                submitForm("form", url2);
            })
        })
    </script>
    <script type="text/javascript">
        $(function () {
            var isRightPersonApproval = "@ViewBag.isRightPersonApproval";
            AuthorityAboutSeeOrClick(isRightPersonApproval);
        });
    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal widget-body">

            <table class="table">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ApplicationId)
                @Html.HiddenFor(model => model.FundsRecordID)
                @Html.HiddenFor(model => model.ModuleName)
                @*审批，未被驳回，继续审批或驳回*@

                @if (@ViewBag.reimburse == "travel")
                {

                    <tr>
                        <td colspan="3"> @Html.LabelFor(model => model.Name)</td>
                        <td colspan="6">
                            <input type="text" readonly="readonly" id="Name" name="Name" value="@Model.Name" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3"> @Html.LabelFor(model => model.Type)</td>
                        <td colspan="6">
                            <input type="text" readonly="readonly" id="Type" name="Type" value="@Model.Type" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">@Html.LabelFor(model => model.Description)</td>
                        <td colspan="6">
                            <input type="text" readonly="readonly" id="Description" name="Description" value="@Model.Description" />
                        </td>
                    </tr>

                    @Html.HiddenFor(model => model.ProjectName)

                    <tr>
                        <td colspan="3"> @Html.LabelFor(model => model.CountOfBill)</td>
                        <td colspan="6">
                            <input type="text" readonly="readonly" id="CountOfBill" name="CountOfBill" value="@Model.CountOfBill" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3"> @Html.LabelFor(model => model.TotalPrice)</td>
                        <td colspan="6">
                            <input type="text" readonly="readonly" id="TotalPrice" name="TotalPrice" value="@Model.TotalPrice" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3"> @Html.LabelFor(model => model.UserName)</td>
                        <td colspan="6">
                            <input type="text" readonly="readonly" id="UserName" name="UserName" value="@Model.UserName" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3"> @Html.LabelFor(model => model.TimeStr)</td>
                        <td colspan="6">
                            <input type="text" readonly="readonly" id="TimeStr" name="TimeStr" value="@Model.TimeStr" />
                        </td>
                    </tr>



                    @Html.HiddenFor(model => model.Comment)

                    <tr>
                        <td colspan="3">
                            @Html.LabelFor(model => model.ShenPiYiJian)
                        </td>
                        <td colspan="6">
                            <input type="text" id="SingleShenPiYiJian" name="SingleShenPiYiJian" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">审批意见列表：</td>
                        <td colspan="6">
                            <div id="ShenPiYiJianList">
                            </div>
                        </td>
                    </tr>

                    @Html.HiddenFor(model => model.FuJianList)

                    @Html.HiddenFor(model => model.JieDianID)

                    @Html.HiddenFor(model => model.OKUserList)

                    @Html.HiddenFor(model => model.ShenPiUserList)

                    @Html.HiddenFor(model => model.StateNow)

                    @Html.HiddenFor(model => model.LateTime)

                    @Html.HiddenFor(model => model.CreatedBy)

                    @Html.HiddenFor(model => model.CreatedTime)

                    @Html.HiddenFor(model => model.UpdatedBy)

                    @Html.HiddenFor(model => model.UpdatedTime)

                    @Html.HiddenFor(model => model.IsTemporary)

                    @Html.HiddenFor(model => model.IsRejected)

                    @Html.HiddenFor(model => model.IsDeleted)

                    @Html.HiddenFor(model => model.IsLocked)

                    @Html.HiddenFor(model => model.IsIncome)

                    @Html.HiddenFor(model => model.IsPrint)

                    @Html.HiddenFor(model => model.LastPrintTime)

                    @Html.HiddenFor(model => model.ApplicationId)

                    @Html.HiddenFor(model => model.WorkflowId)

                    @Html.HiddenFor(model => model.Unit)

                    @Html.HiddenFor(model => model.JieDianName)

                    @Html.HiddenFor(model => model.ShenPiYiJian)

                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().StartDate)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().EndDate)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().FromAddress)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().ToAddress)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().Transportation)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().TransportationFee)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().HotelFee)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().OtherFee)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().OtherFeeComment)
                        </td>
                    </tr>

                    foreach (var item in Model.TravelFundsList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FromAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ToAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Transportation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TransportationFee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HotelFee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OtherFee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OtherFeeComment)
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3"> @Html.LabelFor(model => model.ProjectName)</td>
                        <td colspan="6"><input type="text" readonly="readonly" id="ProjectName" name="ProjectName" value="@Model.ProjectName" /></td>
                    </tr>
                    <tr>
                        <td colspan="3"> @Html.LabelFor(model => model.Name)</td>
                        <td colspan="6">
                            <input type="text" readonly="readonly" id="Name" name="Name" value="@Model.Name" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3"> @Html.LabelFor(model => model.Type)</td>
                        <td colspan="6">
                            <input type="text" readonly="readonly" id="Type" name="Type" value="@Model.Type" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">  @Html.LabelFor(model => model.Description)</td>
                        <td colspan="6">
                            <input type="text" readonly="readonly" id="Description" name="Description" value="@Model.Description" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3"> @Html.LabelFor(model => model.CountOfBill)</td>
                        <td colspan="6">
                            <input type="text" readonly="readonly" id="CountOfBill" name="CountOfBill" value="@Model.CountOfBill" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3"> @Html.LabelFor(model => model.TotalPrice)</td>
                        <td colspan="6">
                            <input type="text" readonly="readonly" id="TotalPrice" name="TotalPrice" value="@Model.TotalPrice" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3"> @Html.LabelFor(model => model.UserName)</td>
                        <td colspan="6">
                            <input type="text" readonly="readonly" id="UserName" name="UserName" value="@Model.UserName" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3"> @Html.LabelFor(model => model.TimeStr)</td>
                        <td colspan="6">
                            <input type="text" readonly="readonly" id="TimeStr" name="TimeStr" value="@Model.TimeStr" />
                        </td>
                    </tr>



                    <tr>
                        <td colspan="3">  @Html.LabelFor(model => model.Comment)</td>
                        <td colspan="6">
                            <input type="text" readonly="readonly" id="Comment" name="Comment" value="@Model.Comment" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            @Html.LabelFor(model => model.ShenPiYiJian)
                        </td>
                        <td colspan="6">
                            <input type="text" id="SingleShenPiYiJian" name="SingleShenPiYiJian" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">审批意见列表：</td>
                        <td colspan="6">
                            <div id="ShenPiYiJianList">
                            </div>
                        </td>
                    </tr>

                    @Html.HiddenFor(model => model.JieDianName)

                    @Html.HiddenFor(model => model.FuJianList)

                    @Html.HiddenFor(model => model.JieDianID)

                    @Html.HiddenFor(model => model.OKUserList)

                    @Html.HiddenFor(model => model.ShenPiUserList)

                    @Html.HiddenFor(model => model.StateNow)

                    @Html.HiddenFor(model => model.LateTime)

                    @Html.HiddenFor(model => model.CreatedBy)

                    @Html.HiddenFor(model => model.CreatedTime)

                    @Html.HiddenFor(model => model.UpdatedBy)

                    @Html.HiddenFor(model => model.UpdatedTime)

                    @Html.HiddenFor(model => model.IsTemporary)

                    @Html.HiddenFor(model => model.IsRejected)

                    @Html.HiddenFor(model => model.IsDeleted)

                    @Html.HiddenFor(model => model.IsLocked)

                    @Html.HiddenFor(model => model.IsIncome)

                    @Html.HiddenFor(model => model.IsPrint)

                    @Html.HiddenFor(model => model.LastPrintTime)

                    @Html.HiddenFor(model => model.ApplicationId)

                    @Html.HiddenFor(model => model.WorkflowId)

                    @Html.HiddenFor(model => model.Unit)

                    @Html.HiddenFor(model => model.ShenPiYiJian)
                }


                @if (Model.JieDianName == "结束")
                {

                }
                else
                {
                    <tr>
                        <td colspan="9">
                            <p><input type="file" id="uploadFile" name="file" onchange="CheckFileSize()" /></p>
                            <input type="button" id="btnUploadFile" value="上传" />
                            <div id="uploadingfile">

                            </div>
                            <input type="hidden" value=@Model.FuJianList id="thisPageFuJian">
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle; text-align:center;">
                            <input type="submit" value="通&nbsp&nbsp&nbsp过" name="Approval" id="Approval" class="btn btn-blue" />
                        </td>
                        <td style="vertical-align:middle; text-align:center;">
                            <input type="submit" value="驳&nbsp&nbsp&nbsp回" name="Reject" id="Reject" class="btn btn-blue" />
                        </td>
                    </tr>
                }

            </table>

            <!-- Application Approval Steps Time Line -->
            @*@Html.Partial("_ScienceResearchFundsApproveWizardPartial")*@
            @Html.Partial("_ApproveWizardPartial")
        </div>
    }
</body>

</html>