@model UI.ScientificResearch.Models.FileUploadViewModels
@{
Layout=null;}
<div>
    <h4>上传文件详情</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileSize)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("修改", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("返回列表", "List")
</p>
