@model IEnumerable<ScientificResearch.ViewModel.ProjectBidSectionViewModel>
@{
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}
<!-- Project Step Wizard -->
@*@Html.Partial("_ScienceResearchWizardPartial")*@


<input type="hidden" id="Freeze" value="@ViewBag.Id" />
<div>
    <div id="MaxWindow"></div>
    <div id="CreateNewApp">
        @*<div id="newapplicationbutton">
            <input type="button" id="CreaateButtn" value="中标登记" />
        </div>*@
        <div id="Application"></div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SectionNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionName)
        </th>
        <th>
            项目名称
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SectionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionName)
            </td>
            <td>
                @ViewBag.ProjectName
            </td>
            <td>
                <a href="#" onclick="createBidWinnerNotice(@item.ID)">中标登记</a>
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            var onClose = function () {
                //parent.location.reload();//刷新包含SubmitApplication的页面// TODO:暂时注释掉，每次刷新影响效率
            }
            $("#CreaateButtn").click(function () {
                var random1 = Math.floor(Math.random() * 1000 + 1);
                $("#Application").kendoWindow({
                    position: {
                        top: "15%", // or "100px"
                        left: "13%"
                    },
                    width: "60%",
                    height: "70%",
                    modal: true,
                    draggable: true,
                    resizable: false,
                    title: "中标登记",
                    visible: false,
                    actions: [
                        "Pin", "Minimize", "Maximize", "Close"
                    ],
                    close: onClose
                    //  resizable: false,

                });
                $("#Application").append(' <iframe id="application" width="100%" height="100%" scrolling="yes" style="border:0px" src="/RegisterInfo/GetBidSectionList?applicationId=@ViewBag.Id"></iframe>');
                $("#Application").data("kendoWindow").center().open();
            });
        })

        // 中标登记 标段id
        function createBidWinnerNotice(sectionId) {
        $("#MaxWindow")["0"].innerHTML = "";// 第二次加载时，将弹出框内容先清空，保证重新加载弹出框内容
            $("#MaxWindow").kendoWindow({
                position: {
                    top: "15%", // or "100px"
                    left: "13%"
                },
                width: "60%",
                height: "70%",
                title: "中标登记",
                visible: false,
                actions: [
                    "Pin", "Minimize", "Maximize", "Close"
                ],
                modal: true,
                resizable: false,
                close: function (e) {
                    //parent.location.reload();//刷新页面// TODO:暂时注释掉，每次刷新影响效率
                }
            });
            $("#MaxWindow").append(' <iframe id="application" width="100%" height="100%" scrolling="yes" style="border:0px" src="/RegisterInfo/CreateBidWinnerNotice?sectionId=' + sectionId + '">项目报名情况</iframe>');
            $("#MaxWindow").data("kendoWindow").center().open();
        };

    </script>
}
