@model IEnumerable<UI.ScientificResearch.Models.ProjectRegistrationViewModel>
@using ScientificResearch.Utility.Enums;

@{
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}
<!-- Project Step Wizard -->
@Html.Partial("_ScienceResearchWizardPartial")


<input type="hidden" id="Freeze" value="@ViewBag.Id" />
<br />
<div>
    <div id="MaxWindow"></div>
    <div id="CreateNewApp">
        <table>
            <tr>
                <td>
                    <input type="button" id="CreaateButtn" value="报名登记" />
                </td>
                @if (User.IsInRole(UserRoles.超级管理员.ToString()) || User.IsInRole(UserRoles.管理员.ToString()))
                {
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <input type="button" id="ExportExcel" value="导出报名汇总" />
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <input type="button" id="ExportExcel2" value="导出保证金汇总" />
                    </td>
                }
            </tr>
        </table>
        <div id="newapplicationbutton">
        </div>
        <div id="Application"></div>
    </div>
</div>
<br />
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.ApplicationId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidSection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSubmitRegistrationFee)
        </th>
        <td>
            @Html.DisplayNameFor(model => model.IsSentEmail)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSubmitBidBondFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidBondFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRefundBidBondFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperatorName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.OperatorId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.ApplicationId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidSection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSubmitRegistrationFee)
            </td>
            <td>
                @if (item.IsSentEmail)
                {
                    <label style="color:red;">已发送</label>
                }
                else
                {
                    <label>未发送</label>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSubmitBidBondFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidBondFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRefundBidBondFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperatorName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.OperatorId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
            <td>
                <a href="#" onclick="sendEmail(@item.ID,@item.BidSectionId)">发送招标文件</a> |
                <a href="#" onclick="edititem(@item.ID)">修改</a> |
                <a href="#" onclick="EditBidBondInfo(@item.ID)">保证金</a> |
                <a href="#" onclick="deleteitem(@item.ID)">删除</a>
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            var onClose = function () {
                //parent.location.reload();//刷新包含SubmitApplication的页面// TODO:暂时注释掉，每次刷新影响效率
            }
            $("#CreaateButtn").click(function () {
                //var random1 = Math.floor(Math.random() * 1000 + 1);
                $("#Application")["0"].innerHTML = "";// 第二次加载时，将弹出框内容先清空，保证重新加载弹出框内容

                $("#Application").kendoWindow({
                    position: {
                        top: "15%", // or "100px"
                        left: "13%"
                    },
                    width: "60%",
                    height: "70%",
                    modal: true,
                    draggable: true,
                    resizable: false,
                    title: "报名登记",
                    visible: false,
                    actions: [
                        "Pin",
                        "Close",
                    ],
                    close: onClose
                    //  resizable: false,

                });
                $("#Application").append(' <iframe id="application" width="100%" height="100%" scrolling="yes" style="border:0px" src="/RegisterInfo/Create?applicationId=@ViewBag.Id">项目申请书</iframe>');
                $("#Application").data("kendoWindow").center().open();
            });

            $("#ExportExcel").click(function () {
                window.location.href = "/RegisterInfo/ExportExcel?applicationId=@ViewBag.Id";
            });
            $("#ExportExcel2").click(function () {
                window.location.href = "/RegisterInfo/ExportExcel2?applicationId=@ViewBag.Id";
            });
        });
            function sendEmail(id, sectionId) {
                var msg = "您真的确定要发送招标文件吗？\n\n请确认！";
                if (confirm(msg) == true) {
                    $.ajax({
                        url: "/RegisterInfo/SendBidDocumentToCompanyById?companyId=" + id,
                        type: "get",
                        success: function (data, status) //服务器成功响应处理函数
                        {
                            if (data.isSuccessful) {
                                alert("发送招标文件成功！");
                                location.reload();//刷新当前页面
                            } else {
                                alert(data.name + "发送失败，请重新操作");
                            }

                            if (typeof (data.error) != 'undefined') {
                                if (data.error != '') {
                                    alert(data.error);
                                }
                            }
                        },
                        error: function (data, status, e) //服务器响应失败处理函数
                        {
                            alert(e);
                        }
                    });
                } else {
                    return false;
                }
            };
            function deleteitem(id) {
                $.ajax(
                    {
                        url: '/RegisterInfo/Delete/' + id,
                        type: 'get',
                        secureuri: false, //一般设置为false
                        fileElementId: 'uploadFile', //文件上传空间的id属性  <input type="file" id="uploadFile" name="uploadFile" />
                        dataType: 'json', //返回值类型 一般设置为json
                        success: function (data, status) //服务器成功响应处理函数
                        {
                            if (data.isSuccessful) {
                                alert("删除成功！");
                                location.reload();//刷新当前页面
                            } else {
                                alert(data.name + "删除失败，请重新操作");
                            }

                            if (typeof (data.error) != 'undefined') {
                                if (data.error != '') {
                                    alert(data.error);
                                }
                            }
                        },
                        error: function (data, status, e) //服务器响应失败处理函数
                        {
                            alert(e);
                        }
                    }
                )
            };

            // 修改
            function edititem(id) {
                $("#MaxWindow")["0"].innerHTML = "";// 第二次加载时，将弹出框内容先清空，保证重新加载弹出框内容
                $("#MaxWindow").kendoWindow({
                    position: {
                        top: "15%", // or "100px"
                        left: "13%"
                    },
                    width: "60%",
                    height: "70%",
                    title: "项目报名情况",
                    visible: false,
                    actions: [
                        "Pin", "Minimize", "Maximize", "Close"
                    ],
                    modal: true,
                    resizable: false,
                    close: function (e) {
                        //parent.location.reload();//刷新页面// TODO:暂时注释掉，每次刷新影响效率
                    }
                });
                $("#MaxWindow").append(' <iframe id="application" width="100%" height="100%" scrolling="yes" style="border:0px" src="/RegisterInfo/Edit?id=' + id + '">项目报名情况</iframe>');
                $("#MaxWindow").data("kendoWindow").center().open();
            };

            // 修改项目保证金情况
            function EditBidBondInfo(id) {
                $("#MaxWindow")["0"].innerHTML = "";// 第二次加载时，将弹出框内容先清空，保证重新加载弹出框内容
                $("#MaxWindow").kendoWindow({
                    position: {
                        top: "15%", // or "100px"
                        left: "13%"
                    },
                    width: "60%",
                    height: "70%",
                    title: "项目保证金情况",
                    visible: false,
                    actions: [
                        "Pin", "Minimize", "Maximize", "Close"
                    ],
                    modal: true,
                    resizable: false,
                    close: function (e) {
                        //parent.location.reload();//刷新页面// TODO:暂时注释掉，每次刷新影响效率
                    }
                });
                $("#MaxWindow").append(' <iframe id="application" width="100%" height="100%" scrolling="yes" style="border:0px" src="/RegisterInfo/EditBidBondInfo?id=' + id + '">项目保证金情况</iframe>');
                $("#MaxWindow").data("kendoWindow").center().open();
            };
    </script>
}
