@model ScientificResearch.ViewModel.ERPNWorkToDoViewModel
@using ScientificResearch.Utility.Enums;

@{
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/ajaxfileupload.js"></script>
    <script src="~/Scripts/Custom/AboutApprovalNode.js"></script>
    <script src="~/Scripts/Custom/form.js"></script>
    <script type="text/javascript">
        var currentnode = "@ViewBag.CurrentNodeSerils";
        var allcount = parseInt("@ViewBag.allCount");
        $(function () {
            fileListInitializeAgree(currentnode, allcount);
            shenPiyiJianListinitialize(currentnode, allcount);
        });

        $(function () {
            $("#btnUploadFile").click(function () {
                if ($("#uploadFile").val().length > 0) {
                    ajaxFileUploadAgree(currentnode, allcount);
                }
                else {
                    alert("请选择要上传的文件！！");
                }
            })
        })
        $(function () {
            $("#Approval").click(function () {
                var url1 = "/ResearchAward/ConclusionsAgree?flag=Approval";
                submitForm("form", url1);
            })
            $("#Reject").click(function () {
                var url2 = "/ResearchAward/ConclusionsAgree?flag=Reject";
                submitForm("form", url2);
            })
        })
    </script>
    <script type="text/javascript">
        $(function () {
            var isRightPersonApproval = "@ViewBag.isRightPersonApproval";
            AuthorityAboutSeeOrClick(isRightPersonApproval);
        });
    </script>
    <style type="text/css">
        input[type="text"] {
            width: 150px;
            height: 24px;
        }

        textarea {
            margin: 0px;
            height: 180px;
            width: 810px;
        }
    </style>
</head>
<body>

    <!-- Project Step Wizard -->
    @Html.Partial("_ResearchAwardWizardPartial")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal widget-body">
            <h4>@ViewBag.Title</h4>
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.NWorkToDoID)
            @Html.HiddenFor(model => model.ApplicationId)
            <input type="hidden" id="Freeze" value="@Model.ApplicationId" />
            <div>
                @Html.HiddenFor(model => model.FormContent)
                @Html.ValidationMessageFor(model => model.FormContent)
            </div>
            <table class="table">
                @*审批，未被驳回，继续审批或驳回*@


                @Html.HiddenFor(model => model.WorkName, new { @readOnly = "readOnly " })

                @Html.HiddenFor(model => model.NWorkToDoID, new { @readOnly = "readOnly " })

                @Html.HiddenFor(model => model.ApplicationId)

                @Html.HiddenFor(model => model.FuJianList)

                @Html.HiddenFor(model => model.FormID, new { @readOnly = "readOnly " })

                @Html.HiddenFor(model => model.WorkFlowID, new { @readOnly = "readOnly " })

                @Html.HiddenFor(model => model.UserName, new { @readOnly = "readOnly " })

                @Html.HiddenFor(model => model.TimeStr, new { @readOnly = "readOnly " })

                @Html.HiddenFor(model => model.JieDianID, new { @readOnly = "readOnly " })

                @Html.HiddenFor(model => model.LateTime, new { @readOnly = "readOnly " })

                @Html.HiddenFor(model => model.BeiYong1)

                @Html.HiddenFor(model => model.BeiYong2)

                @Html.HiddenFor(model => model.IsTemporary)

                @Html.HiddenFor(model => model.IsRejected)

                @Html.HiddenFor(model => model.IsDeleted)

                @Html.HiddenFor(model => model.IsLocked)

                @Html.HiddenFor(model => model.OKUserList, new { @readOnly = "readOnly " })

                @Html.HiddenFor(model => model.ShenPiUserList)

                @Html.HiddenFor(model => model.StateNow)

                @Html.HiddenFor(model => model.WenHao)

                @Html.HiddenFor(model => model.ShenPiYiJian)

                @Html.Raw(Model.FormContent)
                @Html.HiddenFor(model => model.FormContent)
                @Html.ValidationMessageFor(model => model.FormContent)


                <tr>
                    <td>
                        @Html.LabelFor(model => model.ShenPiYiJian)
                    </td>
                    <td colspan="5">
                        <input type="text" id="SingleShenPiYiJian" name="SingleShenPiYiJian" />
                    </td>
                </tr>
                <tr>
                    <td>审批意见列表：</td>
                    <td colspan="5">
                        <div id="ShenPiYiJianList">
                        </div>
                    </td>
                </tr>

                @Html.HiddenFor(model => model.ShenPiUserList)
                @Html.HiddenFor(model => model.StateNow)
                @Html.HiddenFor(model => model.JieDianName)

                <tr>
                    <td>
                        总支出金额
                    </td>
                    <td colspan="5">@ViewBag.TotalOutMoney</td>
                </tr>

                <tr>
                    <td>
                        总收入金额
                    </td>
                    <td colspan="5">@ViewBag.TotalInMoney</td>
                </tr>

                <tr>
                    <td>
                        余额
                    </td>
                    <td colspan="5">@ViewBag.BalanceMoney</td>
                </tr>


                @if (Model.JieDianName == ApplicationApprovalWorkflowNode.结束.ToString())
                {

                }
                else
                {
                    <tr>
                        <td colspan="6">
                            <p><input type="file" id="uploadFile" name="file" onchange="CheckFileSize()" /></p>
                            <input type="button" id="btnUploadFile" value="上传" />
                            <div id="uploadingfile">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:middle; text-align:center;">
                            <input type="submit" value="通&nbsp&nbsp&nbsp过" name="Approval" id="Approval" class="btn btn-blue" />
                        </td>
                        <td colspan="5" style="vertical-align:middle; text-align:center;">
                            <input type="submit" value="驳&nbsp&nbsp&nbsp回" name="Reject" id="Reject" class="btn btn-blue" />
                        </td>
                    </tr>
                }
            </table>

            <!-- Application Approval Steps Time Line -->
            @*@Html.Partial("_ScienceResearchApplicationApproveWizardPartial")*@
            @Html.Partial("_ApproveWizardPartial")
        </div>
    }
    <input type="hidden" value=@Model.FuJianList id="thisPageFuJian">
</body>
</html>
<script>@Html.Raw(ViewBag.PiLiangSet)</script>
