@model IEnumerable<ScientificResearch.ViewModel.ERPRiZhiViewModel>

@{
    //Layout = "~/Views/Shared/_PopUpLayout.cshtml";
    Layout = null;
}

<div id="MaxToDoWindow">
  
</div>
 <script type="text/javascript">
     function OpenMaxToDoWindow(id) {
         $("#MaxToDoWindow").kendoWindow({
             position: {
                 top: 150, // or "100px"
                 left: "13%"
             },
             modal: true,
             draggable: true,
             title: "待办",
             visible: false,
             actions: [
                     "Pin",
                     "Close",
                    // "Minimize",
                  // "Maximize"
             ],
             resizable: false,
             close: function (e) {
                 parent.location.reload();//刷新页面
             }
         });
        $.ajax({
            type: "post",
            url: "/ResearchAward/ReturnStateValue?id=" + id,
            success: function (data) {
                if (data != null) {
                    var k = data;
                    //判断返回的状态来控制弹出框第一个打开的页面
                    //申请书已填写未审核、科室主任已经审批申请书、科教科已经审批申请书、科教科已经审批申请书、超级管理员审批已经审批申请书

                    if (data == "AplicationWriting") {
                        $("#MaxToDoWindow").append(' <iframe id="application" width="1600" height="750" style="border:0px" src="/ResearchAward/SubmitApplication?id=' + id + '">项目申请书</iframe>');
                    }
                    else if (data == "ApplicationRejected" || data == "ApplicationApproving")//申请书已提交和待审批中
                    {
                        if(data=="ApplicationRejected")
                        {
                            $("#MaxToDoWindow").append(' <iframe id="application" width="1600" height="750" style="border:0px" src="/ResearchAward/ApplicationRejected?id=' + id + '">项目申请书</iframe>');
                        }
                        else
                        {
                            $("#MaxToDoWindow").append(' <iframe id="application" width="1600" height="750" style="border:0px" src="/ResearchAward/ApplicationAgree?id=' + id + '">项目申请书</iframe>');
                        }
                    }
                    else if (data == "ApplicationApproved" || data == "ProjectEstablishing")//全部通过审批
                    {
                        //为申请书iframe的src赋值id是ERPNWorkToDo的ID
                        $("#MaxToDoWindow").append(' <iframe id="application" width="1600" height="750" style="border:0px" src="/ResearchAward/ProjectEstablish?id=' + id + '">项目申请书</iframe>');
                    }
                    else if (data == "ProjectEstablished" || data == "ContractSigning")//申请书已提交和待审批中
                    {
                        $("#MaxToDoWindow").append(' <iframe id="process" width="1600" height="750" style="border:0px" src="/ResearchAward/SignContract?id=' + id + '">合同记录</iframe>');
                    }
                    else if (data == "ContractSigned" || data == "ProjectProcessing")//申请书已提交和待审批中
                    {
                        $("#MaxToDoWindow").append(' <iframe id="process" width="1600" height="750" style="border:0px" src="/ResearchAward/ProcessRecordList?id=' + id + '">过程记录</iframe>');
                    }
                    else if (data == "ConcludeUnWrite" || data == "ConcludeUnSubmit")//申请书已提交和待审批中
                    {
                        $("#MaxToDoWindow").append(' <iframe id="process" width="1600" height="750" style="border:0px" src="/ResearchAward/Conclusions?id=' + id + '">项目结案</iframe>');
                    }
                    else if (data == "ProjectConcluding" || data == "ProjectConcluded" || data == "ConcludeRejected")//申请书已提交和待审批中
                    {
                        if(data == "ConcludeRejected")
                        {
                            $("#MaxToDoWindow").append(' <iframe id="process" width="1600" height="750" style="border:0px" src="/ResearchAward/ConclusionsRejected?id=' + id + '">项目结案</iframe>');
                        }
                        else
                        {
                            $("#MaxToDoWindow").append(' <iframe id="process" width="1600" height="750" style="border:0px" src="/ResearchAward/ConclusionsAgree?id=' + id + '">项目结案</iframe>');
                        }
                    }
                    else if (data == "ExtensionUnWrite")//
                    {
                        //为申请书iframe的src赋值id是ERPNWorkToDo的ID
                        $("#MaxToDoWindow").append(' <iframe id="process" width="1600" height="750" style="border:0px" src="/ResearchAward/ExtensionRequest?id=' + id + '">项目延期</iframe>');
                    }
                    else if (data == "ExtensionRequestApproving" || data == "ExtensionAgreed" || data == "ExtensionRejected")//申请书已提交和待审批中
                    {
                        if(data == "ExtensionRejected")
                        {
                            $("#MaxToDoWindow").append(' <iframe id="process" width="1600" height="750" src="/ResearchAward/ExtensionRejected?id=' + id + '">项目延期</iframe>');
                        }
                        else
                        {
                            $("#MaxToDoWindow").append(' <iframe id="process" width="1600" height="750" src="/ResearchAward/ExtensionAgree?id=' + id + '">项目延期</iframe>');
                        }
                    }
                }
                else {
                    alert("发生异常！");
                }
            }
        });
        $("#MaxToDoWindow").data("kendoWindow").center().open();
    };
</script>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
           申请人
        </th>
        <th>
            操作
        </th>
        <th>
          时间
        </th>
    </tr>

    @foreach (var item in Model)
{
    <tr onclick="OpenMaxToDoWindow(@item.FKApplicationID)">
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoSomething)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStr)
        </td>
    </tr>
            <tr>
                @Html.HiddenFor(modelItem => item.NotificationContent)

                @Html.HiddenFor(modelItem => item.FkFormName)

                @Html.HiddenFor(modelItem => item.FKAction)

                @Html.HiddenFor(modelItem => item.FKApplicationID)
            </tr>
    }
</table>