@model IEnumerable<ScientificResearch.ViewModel.ScienceProjectStatisticsViewModel>

    @{
        Layout = "~/Views/Shared/_PopUpLayout.cshtml";
    }

    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstablishType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseFunds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CounterpartFunds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalFunds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
        </tr>

        @{int number = 0;}
        @foreach (var item in Model)
        {
            number++;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstablishType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectManager)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseFunds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CounterpartFunds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalFunds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
            </tr>
        }

    </table>
