@model ScientificResearch.ViewModel.ERPNWorkToDoViewModel

@{
    Layout = "~/Areas/Education/Views/Shared/_PopUpLayout.cshtml";
}
<script src="../../../../Scripts/ajaxfileupload.js"></script>
<script src="../../../../Scripts/Custom/form.js"></script>
<script src="../../../../Scripts/Custom/AboutApprovalNode.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal widget-body">
        <input type="hidden" id="Freeze" value="@Model.ApplicationId" />
        <table class="table">
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.NWorkToDoID)

            @Html.HiddenFor(model => model.WorkName)

            @Html.HiddenFor(model => model.ApplicationId)

            @Html.HiddenFor(model => model.FormID)

            @Html.HiddenFor(model => model.WorkFlowID)

            @Html.HiddenFor(model => model.UserName)

            @Html.HiddenFor(model => model.TimeStr)

            @Html.HiddenFor(model => model.ShenPiYiJian)

            @Html.HiddenFor(model => model.JieDianID)

            @Html.HiddenFor(model => model.JieDianName)

            @Html.HiddenFor(model => model.ShenPiUserList)

            @Html.HiddenFor(model => model.OKUserList)

            @Html.HiddenFor(model => model.StateNow)

            @Html.HiddenFor(model => model.LateTime)

            @Html.HiddenFor(model => model.WenHao)

            @Html.HiddenFor(model => model.BeiYong1)

            @Html.HiddenFor(model => model.BeiYong2)

            @Html.HiddenFor(model => model.FuJianList)


            @Html.Raw(Model.FormContent)
            @Html.HiddenFor(model => model.FormContent)
            @Html.ValidationMessageFor(model => model.FormContent)

        </table>
    </div>
}

