@model ScientificResearch.ViewModel.ERPNWorkToDoViewModel

@{
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}

<script src="~/Scripts/Custom/forms.js"></script>

<style type="text/css">
    input[type="text"] {
        width: 150px;
        height: 24px;
    }
</style>

<script src="~/Scripts/Custom/Print.js"></script>
<script type="text/javascript">

    $(function () {

        $("#Reported").click(function () {
            var url2 = "/Education/OutLearning/PromiseBook?flag=Reported";
            // alert(url2)
            submitForm("form", url2);
        })
    })
</script>

<script type="text/javascript">
    $(function () {
        $("#PrintBtn").click(function () {
            var printDivId = "printPaper";
            areaPrintFun(printDivId);
        });
    });
</script>

@Html.Partial("_OutLearningWizardPartial")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal widget-body">

        <input type="hidden" id="Freeze" value="@Model.ApplicationId" />
        <table class="table">
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.NWorkToDoID)

            @Html.HiddenFor(model => model.WorkName)

            @Html.HiddenFor(model => model.ApplicationId)

            @Html.HiddenFor(model => model.FormID)

            @Html.HiddenFor(model => model.WorkFlowID)

            @Html.HiddenFor(model => model.UserName)

            @Html.HiddenFor(model => model.TimeStr)

            @Html.HiddenFor(model => model.FuJianList)

            @Html.HiddenFor(model => model.ShenPiYiJian)

            @Html.HiddenFor(model => model.JieDianID)

            @Html.HiddenFor(model => model.JieDianName)

            @Html.HiddenFor(model => model.ShenPiUserList)

            @Html.HiddenFor(model => model.OKUserList)

            @Html.HiddenFor(model => model.StateNow)

            @Html.HiddenFor(model => model.LateTime)

            @Html.HiddenFor(model => model.BeiYong2)

            @Html.HiddenFor(model => model.ApplicationStatus)

            @Html.HiddenFor(model => model.ApplicationId)

            @Html.HiddenFor(model => model.FormKeys)

            @Html.HiddenFor(model => model.FormValues)

            @Html.HiddenFor(model => model.IsRejected)

            @Html.HiddenFor(model => model.IsLocked)

            @Html.HiddenFor(model => model.IsTemporary)

            @Html.HiddenFor(model => model.IsDeleted)

            @Html.HiddenFor(model => model.ProjectStatus)

            @Html.HiddenFor(model => model.ProjectEstablishTime)

            @Html.HiddenFor(model => model.WenHao)

            @Html.HiddenFor(model => model.BeiYong1)


            <div id="printPaper">
                @Html.Raw(Model.FormContent)
            </div>
            @Html.HiddenFor(model => model.FormContent)
            @Html.ValidationMessageFor(model => model.FormContent)


            @if (ViewBag.act == "Save")
            {
                <tr>
                    <td style="vertical-align:middle; text-align:center;">
                        <input type="submit" value="同意" name="Reported" id="Reported" class="btn btn-blue" />
                    </td>
                    <td style="vertical-align:middle; text-align:center;">
                        已保存
                    </td>
                </tr>

            }

            else if (Model.IsTemporary == true)
            {
                <tr>
                    <td style="vertical-align:middle; text-align:center;">
                        <input type="submit" value="同意" name="Reported" id="Reported" class="btn btn-blue" />
                    </td>
                    <td style="vertical-align:middle; text-align:center;">
                        已保存
                    </td>
                </tr>
            }
            else if (Model.IsRejected == false && Model.IsTemporary == false)
            {


            }
            else
            {
                <tr>
                    <td style="vertical-align:middle; text-align:center;">
                        <input type="button" value="打印" id="PrintBtn" class="btn btn-blue" />
                    </td>
                    <td style="vertical-align:middle; text-align:center;">
                        <input type="submit" value="同意" name="Reported" id="Reported" class="btn btn-blue" />
                    </td>
                </tr>
            }
        </table>
    </div>
}