@model IEnumerable<ScientificResearch.ViewModel.ERPRiZhiViewModel>

@{
    Layout = null;
}

<div id="AreadyDoWindow">

</div>
<script type="text/javascript">
    function OpenAreadyDoWindow(id) {
        $("#AreadyDoWindow").kendoWindow({
            position: {
                top: "15%", // or "100px"
                left: "13%"
            },
            width: "80%",
            height: "80%",
            modal: true,
            draggable: true,
            title: "待办",
            visible: false,
            actions: [
                    "Pin",
                    "Close",
                   // "Minimize",
                 // "Maximize"
            ],
            resizable: false,
            close: function (e) {
                parent.location.reload();//刷新页面
            }
        });

        $.ajax({
            url: "/Education/OutLearning/ReturnTop10StateValue?id=" + id,
            type: "post",
            success: function (data) {
                if (data != null) {
                    // $("#MaxWindow").html(data);
                    var k = data;

                    //判断返回的状态来控制弹出框第一个打开的页面
                    //申请书已填写未审核、科室主任已经审批申请书、科教科已经审批申请书、科教科已经审批申请书、超级管理员审批已经审批申请书
                    if (data["ReturnState"] == "AplicationWriting") {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="110%" scrolling="no" style="border:0px" src="/Education/OutLearning/SubmitApplication?id=' + data["fundsId"] + '">外出进修申请书</iframe>');
                    }
                    else if (data["ReturnState"] == "ApplicationRejected" || data["ReturnState"] == "ApplicationApproving")//申请书已提交和待审批中
                    {
                        if (data["ReturnState"] == "ApplicationRejected") {
                            $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="90%" scrolling="no" style="border:0px" src="/Education/OutLearning/ApplicationRejected?id=' + data["fundsId"] + '">外出进修申请书</iframe>');
                        }
                        else {
                            $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="90%" scrolling="no" style="border:0px" src="/Education/OutLearning/ApplicationAgree?id=' + data["fundsId"] + '">外出进修申请书</iframe>');
                        }
                    }
                    else if (data["ReturnState"] == "ApplicationApproved" || data["ReturnState"] == "BorrowRegistrationSave")//全部通过审批
                    {
                        //为申请书iframe的src赋值id是ERPNWorkToDo的ID
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/OutLearning/BorrowRegistration?id=' + id + '">借款登记</iframe>');
                    }

                    else if (data["ReturnState"] == "PromiseBookNotAgree") {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/OutLearning/PromiseBook?id=' + id + '">承诺书</iframe>');
                    }
                    else if (data["ReturnState"] == "SendProof") {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/OutLearning/SendProof?id=' + id + '">派出证明</iframe>');
                    }
                    else if (data["ReturnState"] == "SendProofSubmit") {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/OutLearning/SendProofAgree?id=' + id + '">派出证明审批</iframe>');
                    }
                    else if (data["ReturnState"] == "SendProofReject") {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/OutLearning/SendProofReject?id=' + id + '">派出证明审批</iframe>');
                    }
                    else if (data["ReturnState"] == "ProjectProcessing") {
                        $("#AreadyDoWindow").append(' <iframe id="application" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/OutLearning/ReimburseWorkList?id=' + id + '">经费管理</iframe>');
                    }

                }

                else {
                    alert("发生异常！");
                }
            }
        });
        $("#AreadyDoWindow").data("kendoWindow").center().open();
    }

</script>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>
            申请人
        </th>
        <th>
            操作
        </th>
        <th>
            上报时间
        </th>
    </tr>
    @{int NO = 0;}
    @foreach (var item in Model)
    {
        { NO++; }
        <tr onclick="OpenAreadyDoWindow(@item.FKApplicationID)">
            <td>@NO</td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoSomething)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStr)
            </td>
        </tr>
    }
</table>
