@using ScientificResearch.Utility.Enums;

<!--Page Related Scripts-->
<script src="~/Scripts/assets/js/fuelux/wizard/wizard-custom.js"></script>

<div class="widget-body">
    <div id="simplewizardinwidget" class="wizard" data-target="#simplewizardinwidget-steps">
        <ul class="steps">
            <li id="step1" class="ProjectStepComplete"><span class="step">1</span>项目注册<span class="chevron"></span></li>
            <li id="step2" class="ProjectStepComplete"><span class="step">2</span>招标合同资料<span class="chevron"></span></li>
            <li id="step3" class="ProjectStepComplete"><span class="step">3</span>招标文件<span class="chevron"></span></li>
            <li id="step3" class="ProjectStepComplete"><span class="step">4</span>招标公告<span class="chevron"></span></li>
            <li id="step4" class="ProjectStepComplete"><span class="step">5</span>报名保证金情况<span class="chevron"></span></li>
            <li id="step6" class="ProjectStepComplete"><span class="step">6</span>开评标资料<span class="chevron"></span></li>
            <li id="step6" class="ProjectStepComplete"><span class="step">7</span>中标通知书<span class="chevron"></span></li>
            @*<li id="freezearea">
                    <input type="button" id="btnFreez" class="btn btn-blue" />
                </li>*@
        </ul>
    </div>

    <div class="step-content" id="simplewizardinwidget-steps">
        <div class="step-pane active" id="simplewizardinwidgetstep1">
            <div>
                @Html.ActionLink("项目注册", "ApplicationAgree", new { id = ViewBag.Id }, new { id = "ApplicationAgree" })
                @Html.ActionLink("项目注册确认", "ProjectEstablish", new { id = ViewBag.Id }, new { id = "ProjectEstablish" })
                @Html.ActionLink("招标合同资料", "ContractList", "UploadFilePage", new { id = ViewBag.Id }, new { id = "Contract" })
                @Html.ActionLink("招标文件", "BiddingDocumentList", "UploadFilePage", new { id = ViewBag.Id }, new { id = "BiddingDocument" })
                @Html.ActionLink("招标公告", "ProcessingProjectList", new { id = ViewBag.Id }, new { id = "TenderNotice" })
                @Html.ActionLink("报名情况", "ProjectList", "RegisterInfo", new { applicationId = ViewBag.Id }, new { id = "RegisterInfo" })
                @Html.ActionLink("保证金情况", "ProjectList", "BidBondInfo", new { id = ViewBag.Id }, new { id = "BidBondInfo" })
                @Html.ActionLink("开评标资料", "OpenBidsDocumentList", "UploadFilePage", new { id = ViewBag.Id }, new { id = "OpenBidsDocument" })
                @Html.ActionLink("中标通知书", "ScienceFundsManageContainer", new { id = ViewBag.Id }, new { id = "BidWinnerNotice" })
            </div>
        </div>
    </div>
</div>

<script>
    var ApplicationProjectStatusWorkflowNodeId = 0;
    var currentProjectApplicationStatus = "";
    $(function () {
        $.ajax({
            url: "/Approval/ReturnStateValue?id=" + $("#Freeze").val(),
            type: "post",
            success: function (data) {

                currentProjectApplicationStatus = data;
                //alert("status:" + currentProjectApplicationStatus);

                //switch (currentProjectApplicationStatus) {
                //    case "ApplicationRejected":
                //    case "AplicationWriting":
                //    case "ProjectRegitering":
                //        $("#Contract").hide();
                //        $("#BiddingDocument").hide();
                //        $("#ProcessRecordList").hide();
                //        $("#ReimburseWorkList").hide();
                //        $("#BidWinnerNotice").hide();
                //        $("#ExtensionRequest").hide();
                //        ApplicationProjectStatusWorkflowNodeId = 1;
                //        break;
                //    case "ProjectRegitered":
                //    case "Contracting":
                //        $("#BiddingDocument").hide();
                //        $("#ProcessRecordList").hide();
                //        $("#ReimburseWorkList").hide();
                //        $("#BidWinnerNotice").hide();
                //        $("#ExtensionRequest").hide();
                //        ApplicationProjectStatusWorkflowNodeId = 2;
                //        break;
                //    case "TenderNoticeAnnounced":
                //    case "ContractSigning":
                //        $("#ProcessRecordList").hide();
                //        $("#ReimburseWorkList").hide();
                //        $("#BidWinnerNotice").hide();
                //        $("#ExtensionRequest").hide();
                //        ApplicationProjectStatusWorkflowNodeId = 3;
                //        break;
                //    case "ContractSigned":
                //    case "ProjectProcessing":
                //    case "ConcludeUnWrite":
                //    case "ExtensionUnWrite":
                //        ApplicationProjectStatusWorkflowNodeId = 4;
                //        $(step5).removeClass("ProjectStepComplete").addClass("active");
                //        break;
                //    case "ConcludeUnSubmit":
                //    case "ProjectConcluding":
                //        ApplicationProjectStatusWorkflowNodeId = 6;
                //        break;
                //    case "BidWinnerNoticeAnnounced":
                //        ApplicationProjectStatusWorkflowNodeId = 7;
                //        break;
                //    default:
                //        // Error page 404....
                //        break;
            }

                var idPre = "#step";

            for(var i = 0; i<ApplicationProjectStatusWorkflowNodeId; i++) {
            var id = idPre + i;
            $(id).removeClass("ProjectStepComplete").addClass("complete");
        }

        $(idPre + ApplicationProjectStatusWorkflowNodeId).removeClass("ProjectStepComplete").addClass("active");
    }
        });
    })
</script>


<script type="text/javascript">
    $(function () {
        var random1 = Math.floor(Math.random() * 1000 + 1);
        var random2 = Math.floor(Math.random() * 1000 + 1);
        var customApplicationId = $("#Freeze").val();

        $.ajax({
            url: "/Approval/RetrunFreezeFlag?id=" + customApplicationId + "&pagestate=FirstLoad" + "&k=" + random1,
            type: "get",

            success: function (returndata1) {
                if (returndata1 == "areadyFreezed") {
                    $("#btnFreez").val("启用此项目");
                    $("input[name='Approval']").attr("disabled", true);
                    $("input[name='Reject']").attr("disabled", true);
                    $("input[name='Save']").attr("disabled", true);
                    $("input[name='Reported']").attr("disabled", true);
                    $("input[name='UpdateData']").attr("disabled", true);
                    $("#btnUploadFile").attr("disabled", true);
                }
                else if (returndata1 == "notFreezed") {
                    $("#btnFreez").val("冻结此项目");
                    $("input[name='Approval']").attr("disabled", false);
                    $("input[name='Reject']").attr("disabled", false);
                    $("input[name='Save']").attr("disabled", false);
                    $("input[name='Reported']").attr("disabled", false);
                    $("input[name='UpdateData']").attr("disabled", false);
                    $("#btnUploadFile").attr("disabled", false);
                }
                else {
                    alert("wrong!");
                }
            }
        });

        $("#btnFreez").click(function () {
            var btnFreezValue = $("#btnFreez").val();
            var freezeState;
            if (btnFreezValue == "启用此项目") {
                //启用
                freezeState = "Freezed";
            }
            else if (btnFreezValue == "冻结此项目") {
                //冻结
                freezeState = "Freezing";
            }
            $.ajax({
                url: "/Approval/RetrunFreezeFlag?id=" + customApplicationId + "&pagestate=" + freezeState + "&k=" + random2,
                type: "get",
                success: function (returndata3) {
                    if (returndata3 == "areadyFreezed") {
                        $("#btnFreez").val("启用此项目");
                        $("input[name='Approval']").attr("disabled", true);
                        $("input[name='Reject']").attr("disabled", true);
                        $("input[name='Save']").attr("disabled", true);
                        $("input[name='Reported']").attr("disabled", true);
                        $("input[name='UpdateData']").attr("disabled", true);
                        $("#btnUploadFile").attr("disabled", true);
                        alert("操作成功，关于此项目的任何操作都不能继续进行！");
                    }
                    else if (returndata3 == "notFreezed") {
                        $("#btnFreez").val("冻结此项目");
                        $("input[name='Approval']").attr("disabled", false);
                        $("input[name='Reject']").attr("disabled", false);
                        $("input[name='Save']").attr("disabled", false);
                        $("input[name='Reported']").attr("disabled", false);
                        $("input[name='UpdateData']").attr("disabled", false);
                        $("#btnUploadFile").attr("disabled", false);
                        alert("操作成功，项目可继续进行");
                    }
                    else {
                        alert("wrong!");
                    }
                }
            });
        });

    });
</script>