@model ScientificResearch.ViewModel.ContinuingEducationRecordViewModel

@{
    ViewBag.Title = "AddNotProjectCredit";
    Layout = "~/Areas/Education/Views/Shared/_PopUpLayout.cshtml";
}

@*<div id="treeviewWindowForSingleUser" style="width: 300px; height: 400px;">
    @Html.Partial("_SelectSingleUserPartial")
</div>*@
<div id="treeviewwindow" style="width:300px;height:400px;">
    @Html.Partial("_SelectUserPartial")
</div>
<script type="text/javascript">
    //上报成功的提示
    $(function () {
        var sendupsuccess = "@ViewBag.Id";
        if (sendupsuccess >0) {
            alert("添加成功！");
            //parent.location.reload();
        }

    });
</script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <table class="table table-striped table-bordered table-hover">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                   
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserName):
                    <input type="text" id="UserName" name="UserName" readonly="readonly" />
                    <input type="button" id="select" onclick="TselectUser(UserName)" value="点击选择用户" />
                    <input type="text" id="UserId" name="UserId" hidden="hidden" />
                </td>
            </tr>

                    @Html.HiddenFor(model => model.UserId)

                    @Html.HiddenFor(model => model.NworkToDoId)

                    @Html.HiddenFor(model => model.Department)
               
                    @Html.HiddenFor(model => model.AccountCredit)
               
                    @Html.HiddenFor(model => model.Credit)
                  
                    @Html.HiddenFor(model => model.CreditLevel)
                 
                    @Html.HiddenFor(model => model.CreditType)
                
                    @Html.HiddenFor(model => model.IsProjectCredit)
                     
                    @Html.HiddenFor(model => model.IsGranted)
                    
                    @Html.HiddenFor(model => model.CreatedBy)
                
                    @Html.HiddenFor(model => model.CreatedTime)
                 
                    @Html.HiddenFor(model => model.UpdatedBy)
                 
                    @Html.HiddenFor(model => model.UpdatedTime)
                 
                    @Html.HiddenFor(model => model.UserDegree)
                 
                    @Html.HiddenFor(model => model.UserDuty)
                  
            <tr>
                <td colspan="2">
                    <input type="submit" value="保存" class="btn btn-default" />
                </td>
            </tr>
    </table>
 }
