@model IEnumerable<ScientificResearch.ViewModel.ERPRiZhiViewModel>

@{
    Layout = "~/Areas/Education/Views/Shared/_PopUpLayout.cshtml";
}

<div id="ToDoWindow">

</div>
<script type="text/javascript">
     function OpeToDoWindow(id) {
         $("#ToDoWindow").kendoWindow({
             position: {
                 top: 150, // or "100px"
                 left: "13%"
             },
             modal: true,
             draggable: true,
             title: "待办",
             visible: false,
             actions: [
                     "Pin",
                     "Close",
                    // "Minimize",
                  // "Maximize"
             ],
             resizable: false,
             close: function (e) {
                 parent.location.reload();//刷新页面
             }
         });

         $.ajax({
             url: "/Education/ContinuingEducation/ReturnDoneStateValue?id=" + id,
             type: "post",
             success: function (data) {
                 if (data != null) {
                     // $("#MaxWindow").html(data);
                     var k = data;
                     //判断返回的状态来控制弹出框第一个打开的页面
                     if (data["ReturnState"] == "AplicationWriting") {
                         $("#ToDoWindow").append(' <iframe id="application" width="1600" height="750" style="border:0px" src="/Education/ContinuingEducation/SubmitApplication?id=' + data["applicationId"] + '">项目申请书</iframe>');
                     }
                     else if (data["ReturnState"] == "ApplicationRejected" || data["ReturnState"] == "ApplicationApproving")//申请书已提交和待审批中
                     {
                         if(data["ReturnState"]=="ApplicationRejected")
                         {
                             $("#ToDoWindow").append(' <iframe id="application" width="1600" height="750" style="border:0px" src="/Education/ContinuingEducation/ApplicationRejected?id=' + data["applicationId"] + '">项目申请书</iframe>');
                         }
                         else
                         {
                             $("#ToDoWindow").append(' <iframe id="application" width="1600" height="750" style="border:0px" src="/Education/ContinuingEducation/ApplicationAgree?id=' + data["applicationId"] + '">项目申请书</iframe>');
                         }
                     }
                     else if (data["ReturnState"] == "ApplicationApproved" || data["ReturnState"] == "NoticeUnwrite" || data["ReturnState"] == "NoticeNotIssued")//继教通知
                     {
                         //为申请书iframe的src赋值id是ERPNWorkToDo的ID
                         $("#ToDoWindow").append(' <iframe id="application" width="1600" height="750" style="border:0px" src="/Education/ContinuingEducation/ContinueNotice?id=' + data["applicationId"] + '">继教通知</iframe>');
                     }
                     else if (data["ReturnState"] == "SentNotice")//人员记录
                     {
                         $("#ToDoWindow").append(' <iframe id="process" width="1600" height="750" style="border:0px" src="/Education/ContinuingEducation/PersonRecord?id=' + data["applicationId"] + '">人员记录</iframe>');
                     }
                     else if (data["ReturnState"] == "AddMeetingPerson" || data["ReturnState"] == "ProjectProcessing")//过程记录
                     {
                         $("#ToDoWindow").append(' <iframe id="process" width="1600" height="750" style="border:0px" src="/Education/ContinuingEducation/ProcessRecordList?id=' + data["applicationId"] + '">过程记录</iframe>');
                     }
                     else if (data["ReturnState"] == "GavenCredited" || data["ReturnState"] == "GiveCrediting")//授予学分
                     {
                         $("#ToDoWindow").append(' <iframe id="process" width="1600" height="750" style="border:0px" src="/Education/ContinuingEducation/GiveCredit?id=' + data["applicationId"] + '">授予学分</iframe>');
                     }
                 }
                 else {
                     alert("发生异常！");
                 }
             }
         });
         $("#ToDoWindow").data("kendoWindow").center().open();
     };
</script>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            申请人
        </th>
        <th>
            操作
        </th>
        <th>
            时间
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr onclick="OpeToDoWindow(@item.FKApplicationID)">
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoSomething)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStr)
            </td>
        </tr>
        <tr>
            @Html.HiddenFor(modelItem => item.NotificationContent)

            @Html.HiddenFor(modelItem => item.FkFormName)

            @Html.HiddenFor(modelItem => item.FKAction)

            @Html.HiddenFor(modelItem => item.FKApplicationID)
        </tr>
    }

</table>
