@model ScientificResearch.ViewModel.ContinuingEducationRecordViewModel

@{
    ViewBag.Title = "NotProjectCreditDetail";
    Layout = "~/Areas/Education/Views/Shared/_PopUpLayout.cshtml";
    
}

<div>

    <table class="table table-striped table-bordered table-hover">

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.UserName):
                @Html.DisplayFor(model => model.UserName)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Department):
                @Html.DisplayFor(model => model.Department)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Credit):
                @Html.DisplayFor(model => model.Credit)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CreditLevel):
                @Html.DisplayFor(model => model.CreditLevel)
            </td>
        </tr>

        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CreditType):
                @Html.DisplayFor(model => model.CreditType)
            </td>
        </tr>

        <tr>
                @Html.DisplayNameFor(model => model.IsGranted):
                @if (Model.IsGranted == false)
                {
                  <td> 
                         @Html.DisplayNameFor(model => model.IsGranted):
                         未授予学分 
                     </td>
                }
                else if(Model.IsGranted==true)
                {
                   <td> 
                       @Html.DisplayNameFor(model => model.IsGranted):
                      已授予学分
                   </td>
                }
                else
                {
                    <td>
                        @Html.DisplayNameFor(model => model.IsGranted)
                    </td>
                }
          
        </tr>
        @Html.HiddenFor(model => model.Id)

        @Html.HiddenFor(model => model.UserId)

        @Html.HiddenFor(model => model.NworkToDoId)

        @Html.HiddenFor(model => model.AccountCredit)

        @Html.HiddenFor(model => model.IsProjectCredit)

        @Html.HiddenFor(model => model.CreatedBy)

        @Html.HiddenFor(model => model.CreatedTime)

        @Html.HiddenFor(model => model.UpdatedBy)

        @Html.HiddenFor(model => model.UpdatedTime)

        @Html.HiddenFor(model => model.UserDegree)

        @Html.HiddenFor(model => model.UserDuty)

    </table>
</div>
<p>
   
   @* <input type="button" value="编辑" id="EditButton" />
    <div id="EditWindow">

    </div>

    <script type="text/javascript">
        $(function () {
            var onClose = function () {
                parent.location.reload();
            }
            $("#EditButton").click(function () {
                var random1 = Math.floor(Math.random() * 1000 + 1);
                $("#EditWindow").kedowWindow({
                    position: {
                        top: "15%",
                        left: "13%"
                    },
                    width: "80%",
                    height: "80%",
                    modal: true,
                    draggable: true,
                    resizable: false,
                    title: "编辑非项目类学分",
                    visible: false,
                    actions: [
                            "Pin",
                            "Close",
                    ],
                    close: onClose
                });
                $("#EditWindow").append(' <iframe id="editFrame" width="100%" height="100%" scrolling="no" style="border:0px" src="/Education/ContinuingEducation/UpdateNotProjectCredit?id=' +@Model.Id +'">编辑非项目类学分</iframe>');
                $("#EditWindow").data("kendoWindow").center().open();
            });
        })

    </script>*@
  
    <input type="button" value="编辑" id="EditButton" />
    <div id="EditWindow">

    </div>

    <script type="text/javascript">
        $(function () {
            var onClose = function () {
                parent.location.reload();//刷新包含SubmitApplication的页面
            }
            $("#EditButton").click(function () {
                var random1 = Math.floor(Math.random() * 1000 + 1);
                $("#EditWindow").kendoWindow({
                    position: {
                        top: "15%", // or "100px"
                        left: "13%"
                    },
                    width: "80%",
                    height: "80%",
                    modal: true,
                    draggable: true,
                    resizable: false,
                    title: "编辑非项目类学分",
                    visible: false,
                    actions: [
                            "Pin",
                            "Close",
                    ],
                    close: onClose
                    //  resizable: false,

                });
                $("#EditWindow").append(' <iframe id="editFrame" width="100%" height="100%" scrolling="no" style="border:0px" src="/Education/ContinuingEducation/UpdateNotProjectCredit?id=' +@Model.Id +'">编辑非项目类学分</iframe>');
                $("#EditWindow").data("kendoWindow").center().open();
            });
        })


    </script>




</p>
