@model IEnumerable<ScientificResearch.ViewModel.ContinuingEducationRecordViewModel>

@{
    Layout = "~/Areas/Education/Views/Shared/_PopUpLayout.cshtml";
}


@Html.Partial("_ContinuingEducationWizardPartial")
<input type="hidden" id="Freeze" value="@ViewBag.Id" />

<input type="button" id="NewProcessRecords" value="添加人员" />

<div id="NewProcessRecordsArea">

</div>
<script type="text/javascript">
    $(function () {
        var onClose = function () {
            location.reload();//刷新包含SubmitApplication的页面
        }
        $("#NewProcessRecords").click(function () {
            var id =@ViewBag.Id
            $("#NewProcessRecordsArea").kendoWindow({
                position: {
                    top: "5%", // or "100px"
                    left: "5%"
                },
                width: "50%",
                height: "50%",
                modal: true,
                draggable: true,
                resizable: false,
                title: "添加人员",
                visible: false,
                actions: [
                        "Pin",
                        "Close",
                ],
                close: onClose
                //  resizable: false,

            });
            $("#NewProcessRecordsArea").append(' <iframe id="NewProcessRecordsframe" width="100%" height="160%" scrolling="no" style="border:0px" src="/Education/ContinuingEducation/AddPersonRecord?id=' + id + '">添加人员</iframe>');
            $("#NewProcessRecordsArea").data("kendoWindow").center().open();
        });
    })

</script>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDegree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserDuty)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDegree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDuty)
        </td>

            @Html.HiddenFor(modelItem => item.UserId)

            @Html.HiddenFor(modelItem => item.NworkToDoId)

            @Html.HiddenFor(modelItem => item.AccountCredit)
      
            @Html.HiddenFor(modelItem => item.Credit)
      
            @Html.HiddenFor(modelItem => item.CreditLevel)
       
            @Html.HiddenFor(modelItem => item.CreditType)
       
            @Html.HiddenFor(modelItem => item.IsProjectCredit)
     
            @Html.HiddenFor(modelItem => item.IsGranted)
       
            @Html.HiddenFor(modelItem => item.CreatedBy)
      
            @Html.HiddenFor(modelItem => item.CreatedTime)
        
            @Html.HiddenFor(modelItem => item.UpdatedBy)
       
            @Html.HiddenFor(modelItem => item.UpdatedTime)
      
    </tr>
}

</table>
