@model IEnumerable<ScientificResearch.ViewModel.ProjectBonusCreditViewModel>

<input type="button" value="添加" id="ContinueAddButton" />
<div id="ContinueAddWindow">

</div>
<script type="text/javascript">
         $(function () {
            var onClose = function () {
                parent.location.reload();//刷新包含SubmitApplication的页面
            }
            $("#ContinueAddButton").click(function () {
                var random1 = Math.floor(Math.random() * 1000 + 1);
                $("#ContinueAddWindow").kendoWindow({
                    position: {
                        top: "15%", // or "100px"
                        left: "13%"
                    },
                    width: "80%",
                    height: "80%",
                    modal: true,
                    draggable: true,
                    resizable: false,
                    title: "添加奖励设置",
                    visible: false,
                    actions: [
                            "Pin",
                            "Close",
                    ],
                    close: onClose
                    //  resizable: false,

                });
                $("#ContinueAddWindow").append(' <iframe id="continueAddFrame" width="100%" height="100%" scrolling="no" style="border:0px" src="/Bonus/ProjectBonusCreditAdd?modulename=' + "继续教育" + '">添加奖励设置</iframe>');
                $("#ContinueAddWindow").data("kendoWindow").center().open();
            });
        })
</script>
<br />
<div id="MaxWindow">

</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped table-bordered table-hover">

    <tr>
        <th>国家继续教育项目</th>
        <th>省级继续教育项目</th>
        <th>市级继续教育项目</th>
        <th>县级继续教育项目</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr onclick="OpenMaxWindow(@item.Id)">
            @if (@item.ProjectLevel == "国家继续教育项目")
            {
               
                @*<td><input type="text" value="@item.Credit" /></td>*@
                <td>@item.Credit</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            }
            @if (@item.ProjectLevel == "省级继续教育项目")
            {
               
                <td>0</td>
                @*<td><input type="text" value="@item.Credit" /></td>*@
                <td>@item.Credit</td>
                <td>0</td>
                <td>0</td>
            }
            @if (@item.ProjectLevel == "市级继续教育项目")
            {
               
                <td>0</td>
                <td>0</td>
                @*<td><input type="text" value="@item.Credit" /></td>*@
                <td>@item.Credit</td>
                <td>0</td>
            }
            @if (@item.ProjectLevel == "县级继续教育项目")
            {
               
                <td>0</td>
                <td>0</td>
                <td>0</td>
                @*<td><input type="text" value="@item.Credit" /></td>*@
                <td>@item.Credit</td>
            }
          
        </tr>
    }

</table>
<script type="text/javascript">

                          function OpenMaxWindow(id) {

                              $("#MaxWindow").append(' <iframe id="application" width="100%" height="100%" style="border:0px" src="/Bonus/ProjectBonusCreditDetail?id=' + id + '">奖励操作</iframe>');
                              var MaxDialog = $("#MaxWindow").data("kendoWindow");
                              MaxDialog.open();
                          };

                          $(document).ready(function () {
                              var window = $("#MaxWindow");
                              if (!window.data("kendoWindow")) {
                                  window.kendoWindow({
                                      position: {
                                          top: "10%", // or "100px"
                                          left: "6%"
                                      },
                                      height:"80%",
                                      width:"80%",
                                      modal: true,
                                      draggable: true,
                                      resizable: false,
                                      title: "奖励设置详情",
                                      visible: false,
                                      actions: [
                                          "Pin",
                                          "Close"
                                      ],
                                      close: function (e) {
                                          location.reload();//刷新页面
                                      }
                                  });
                              }

                          });
</script>


