@model ScientificResearch.ViewModel.FundsRecordViewModel

@{
    Layout = "~/Areas/Education/Views/Shared/_PopUpLayout.cshtml";
}
<style type="text/css">
    input[type="text"] {
        width: 150px;
        height: 30px;
    }

    input[type="number"] {
        width: 150px;
        height: 24px;
    }

    select {
        width: 150px;
        height: 30px;
    }
</style>
<script src="../../../../Scripts/jquery-1.10.2.js"></script>
<script src="../../../../Scripts/ajaxfileupload.js"></script>
<script src="../../../../Scripts/Custom/AboutApprovalNode.js"></script>
<script type="text/javascript">

    var fuJian = "";
    $(function () {
        $("#btnUploadFile").click(function () {
            if ($("#uploadFile").val().length > 0) {
                ajaxFileUploadFillIn();
            }
            else {
                alert("请选择要上传的文件！！");
            }
        })
    })

</script>

<script type="text/javascript">
    UploadFile();

    $(function(){
        var limit="@ViewBag.limit";
        if(limit=="true")
        {
            alert("金额不能超过指定项目金额！");
        }

    });
</script>

<script type="text/javascript">
    $(function () {
        $("input[name='Reported'],input[name='Save'] ").click(function () {
            var errorMessage="";
            if ($("#Name").val().trim() == "") {
                errorMessage =errorMessage+ "费用报销单不能为空！";
            }
            if ($("#Description").val().trim() == "") {
                errorMessage = errorMessage + "经费描述不能为空！";
            }

            if (errorMessage == "") {

            }
            else {
                alert(errorMessage);
                return false;
            }
        });
    });

</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="Freeze" value="@Model.ApplicationId" />
    <table class="table table-striped table-bordered table-hover">
        @Html.ValidationSummary(true)


        @Html.HiddenFor(model => model.FundsRecordID)

        @Html.HiddenFor(model => model.ApplicationId)

        @Html.HiddenFor(model => model.WorkflowId)

        @Html.HiddenFor(model => model.IsIncome)

        @Html.HiddenFor(model => model.IsPrint)

        @Html.HiddenFor(model => model.LastPrintTime)

        @Html.HiddenFor(model => model.TimeStr)

        @Html.HiddenFor(model => model.ShenPiYiJian)

        @Html.HiddenFor(model => model.JieDianID)

        @Html.HiddenFor(model => model.JieDianName)

        @Html.HiddenFor(model => model.OKUserList)

        @Html.HiddenFor(model => model.ShenPiUserList)

        @Html.HiddenFor(model => model.StateNow)

        @Html.HiddenFor(model => model.LateTime)

        @Html.HiddenFor(model => model.CreatedBy)

        @Html.HiddenFor(model => model.UpdatedBy)

        @Html.HiddenFor(model => model.UpdatedTime)

        @Html.HiddenFor(model => model.Unit)

        @Html.HiddenFor(model => model.ModuleName)
        <tr>
            <td>@Html.LabelFor(model => model.ProjectName)</td>
            <td>
                <input readonly="readonly" type="text" id="ProjectName" name="ProjectName" value="@Model.ProjectName" />
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Name)</td>
            <td>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>


        @if (Model.IsRejected == true)
        {
            <tr><td>类型</td><td>@Html.DropDownList("TypeId", (List<SelectListItem>)ViewBag.FundsType)</td><td></td></tr>
        }
        else if (Model.IsRejected == false && Model.IsTemporary == true)
        {
            <tr><td>类型</td><td>@Html.DropDownList("TypeId", (List<SelectListItem>)ViewBag.FundsType)</td><td></td></tr>
        }
        else
        {

            <tr>
                <td>类型</td>
                <td><input readonly="readonly" type="text" id="Type" name="Type" value="@Model.Type" /></td>
            </tr>
        }



        <tr>
            <td>@Html.LabelFor(model => model.Description)</td>
            <td>
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.CountOfBill)</td>
            <td>
                <input type="text" id="CountOfBill" name="CountOfBill" value="@Model.CountOfBill" onkeypress="var k=event.keyCode; return (k&gt;=48&amp;&amp;k&lt;=57)||k==46" ondragenter="return false" onpaste="return !/D/.test(clipboardData.getData('text'))" />
                @Html.ValidationMessageFor(model => model.CountOfBill)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.TotalPrice)</td>
            <td>
                <input type="text" id="TotalPrice" name="TotalPrice" value="@Model.TotalPrice" onkeypress="var k=event.keyCode; return (k&gt;=48&amp;&amp;k&lt;=57)||k==46" ondragenter="return false" onpaste="return !/D/.test(clipboardData.getData('text'))" />
                @Html.ValidationMessageFor(model => model.TotalPrice)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.UserName)</td>
            <td>
                <input readonly="readonly" type="text" id="UserName" name="UserName" value="@Model.UserName" />
            </td>
        </tr>
        <tr>
            <td>备注</td>
            <td>
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </td>
        </tr>
        @*<tr>
                <td>操作时间</td>
                <td>
                    <input readonly="readonly" style="width: 150px; height: 24px; color: #BBB;" type="text" id="CreatedTime" name="CreatedTime" value="@Model.CreatedTime" />
                </td>
            </tr>*@
        @if (Model.IsRejected == true && Model.IsTemporary == false)
        {
            <tr>
                <td style="vertical-align:middle; text-align:center;">
                    <input type="submit" value="保存并上报" name="Reported" class="btn btn-blue" />
                </td>
                <td style="vertical-align:middle; text-align:center;">
                    <input type="submit" value="保&nbsp&nbsp&nbsp存" name="Save" class="btn btn-blue" />
                </td>
            </tr>
        }

        else if (Model.IsTemporary == true && Model.IsRejected == false)
        {
            <tr>
                <td style="vertical-align:middle; text-align:center;">
                    已保存
                </td>
                <td style="vertical-align:middle; text-align:center;">
                    <input type="submit" value="上&nbsp&nbsp&nbsp报" name="Reported" class="btn btn-blue" />
                </td>
            </tr>
        }

        else if (Model.IsTemporary == false && Model.IsRejected == false)
        {
            <tr>
                <td colspan="2" style="vertical-align:middle; text-align:center;">
                    已上报
                </td>
            </tr>
        }


    </table>
}