@model ScientificResearch.ViewModel.FundsRecordViewModel

@{
    ViewBag.Title = "差旅报销申请";
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}
<style type="text/css">
    input[type="text"] {
        width: 60px;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/ajaxfileupload.js"></script>
<script src="~/Scripts/Custom/form.js"></script>
<script type="text/javascript">
    UploadFile();
</script>

@using (Html.BeginForm("TravelExpensesRejected", "ContinuingEducation", FormMethod.Post, new { id = "formId", novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="Freeze" value="@Model.ApplicationId" />
    <table class="table">
        @*rejected*@
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ApplicationId)
        @Html.HiddenFor(model => model.FundsRecordID)
        @Html.HiddenFor(model => model.ModuleName)
        <tr>
            <td colspan="3"> @Html.LabelFor(model => model.Name)</td>
            <td colspan="6">
                <input type="text" id="Name" name="Name" value="@Model.Name" />
            </td>
        </tr>

        <tr>
            <td colspan="3"> @Html.LabelFor(model => model.Type)</td>
            <td colspan="6">
                <input type="text" id="Type" name="Type" value="@Model.Type" />
            </td>
        </tr>
        <tr>
            <td colspan="3">@Html.LabelFor(model => model.Description)</td>
            <td colspan="6">
                <input type="text" id="Description" name="Description" value="@Model.Description" />
            </td>
        </tr>

        @Html.HiddenFor(model => model.ProjectName)

        <tr>
            <td colspan="3"> @Html.LabelFor(model => model.CountOfBill)</td>
            <td colspan="6">
                <input type="text" id="CountOfBill" name="CountOfBill" value="@Model.CountOfBill" />
            </td>
        </tr>

        <tr>
            <td colspan="3"> @Html.LabelFor(model => model.TotalPrice)</td>
            <td colspan="6">
                <input type="text" id="TotalPrice" name="TotalPrice" value="@Model.TotalPrice" />
            </td>
        </tr>

        <tr>
            <td colspan="3"> @Html.LabelFor(model => model.UserName)</td>
            <td colspan="6">
                <input type="text" readonly="readonly" id="UserName" name="UserName" value="@Model.UserName" />
            </td>
        </tr>

        <tr>
            <td colspan="3"> @Html.LabelFor(model => model.TimeStr)</td>
            <td colspan="6">
                <input type="text" readonly="readonly" id="TimeStr" name="TimeStr" value="@Model.TimeStr" />
            </td>
        </tr>



        @Html.HiddenFor(model => model.Comment)

        <tr>
            <td colspan="3">  @Html.LabelFor(model => model.ShenPiYiJian)</td>
            <td colspan="6">
                @Html.EditorFor(model => model.ShenPiYiJian)
                @Html.ValidationMessageFor(model => model.ShenPiYiJian)
            </td>
        </tr>

        @Html.HiddenFor(model => model.FuJianList)

        @Html.HiddenFor(model => model.JieDianID)

        @Html.HiddenFor(model => model.OKUserList)

        @Html.HiddenFor(model => model.ShenPiUserList)

        @Html.HiddenFor(model => model.StateNow)

        @Html.HiddenFor(model => model.LateTime)

        @Html.HiddenFor(model => model.CreatedBy)

        @Html.HiddenFor(model => model.CreatedTime)

        @Html.HiddenFor(model => model.UpdatedBy)

        @Html.HiddenFor(model => model.UpdatedTime)

        @Html.HiddenFor(model => model.IsTemporary)

        @Html.HiddenFor(model => model.IsRejected)

        @Html.HiddenFor(model => model.IsDeleted)

        @Html.HiddenFor(model => model.IsLocked)

        @Html.HiddenFor(model => model.IsIncome)

        @Html.HiddenFor(model => model.IsPrint)

        @Html.HiddenFor(model => model.LastPrintTime)

        @Html.HiddenFor(model => model.ApplicationId)

        @Html.HiddenFor(model => model.WorkflowId)

        @Html.HiddenFor(model => model.Unit)

        @Html.HiddenFor(model => model.JieDianName)


        <tr>
            <td>
                @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().StartDate)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().EndDate)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().FromAddress)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().ToAddress)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().Transportation)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().TransportationFee)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().HotelFee)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().OtherFee)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.TravelFundsList.FirstOrDefault().OtherFeeComment)
            </td>
        </tr>

        @foreach (var item in Model.TravelFundsList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Transportation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportationFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherFeeComment)
                </td>
            </tr>
        }
        @if (Model.IsRejected == true && Model.IsTemporary == false)
        {
            <tr>
                <td style="vertical-align:middle; text-align:center;">
                    <input type="submit" value="保存并上报" name="Reported" class="btn btn-blue" />
                </td>
                <td style="vertical-align:middle; text-align:center;">
                    <input type="submit" value="保&nbsp&nbsp&nbsp存" name="Save" class="btn btn-blue" />
                </td>
            </tr>
        }

        else if (Model.IsTemporary == true && Model.IsRejected == false)
        {
            <tr>
                <td style="vertical-align:middle; text-align:center;">
                    已保存
                </td>
                <td style="vertical-align:middle; text-align:center;">
                    <input type="submit" value="上&nbsp&nbsp&nbsp报" name="Reported" class="btn btn-blue" />
                </td>
            </tr>
        }

        else if (Model.IsTemporary == false && Model.IsRejected == false)
        {
            <tr>
                <td colspan="2" style="vertical-align:middle; text-align:center;">
                    已上报
                </td>
            </tr>
        }


    </table>


}
<script>
    $(document).ready(function () {
        //$("#CreatedTime").kendoDatePicker();

        function startChange() {
            var startDate = start.value(),
            endDate = end.value();

            if (startDate) {
                startDate = new Date(startDate);
                startDate.setDate(startDate.getDate());
                end.min(startDate);
            } else if (endDate) {
                start.max(new Date(endDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        function endChange() {
            var endDate = end.value(),
            startDate = start.value();

            if (endDate) {
                endDate = new Date(endDate);
                endDate.setDate(endDate.getDate());
                start.max(endDate);
            } else if (startDate) {
                end.min(new Date(startDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        var start = $("#item1StartDate").kendoDatePicker({
            change: startChange
        }).data("kendoDatePicker");

        var end = $("#item1EndDate").kendoDatePicker({
            change: endChange
        }).data("kendoDatePicker");

        start.max(end.value());
        end.min(start.value());
    });


</script>
<script>
    $(function () {
        $("#SuperiorFunds").kendoNumericTextBox({
            min: 0,
            required: true,
        });
        $("#HospitalFunds").kendoNumericTextBox({
            min: 0,
            required: true,
        });
        //kendo.culture("zh-CN");
        var validator = $("#formId").kendoValidator().data("kendoValidator");
    });

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


